[2014-09-25 22:12] octalmage opened #1 "Use nan to be compatible with newer Node.js versions."
I need to use [nan](https://github.com/rvagg/nan) to make RobotJS compatible with newer versions of node.js.

[2014-11-26 20:45] scottmas opened #2 "Windows Support."
## Edit by octalmage:
There's a Windows build available here:

https://github.com/octalmage/robotjs/tree/windows-2

Please test and let me know how it works!

**Known issues:**

All known issues resolved!

* ~~`getPixelColor` returns "000000" no matter what in my VM, not sure if it's broken.~~ Fixed in #43.
* ~~The sqrt functions in rgb.h cause errors, currently commented out in the windows-2 bran

[2015-01-23 06:46] plasmashadow opened #3 "On Keyboard Event typeString there is no option for backspace and enter events."
it would be better if you have keyboard enter and backspace events

[2015-01-27 13:56] anand-seeenivasagam commented on #1
@octalmage, robotjs is awesome. I wanted to use this with latest node.js. When will this be ready?
Thanks.

[2015-01-27 17:55] octalmage commented on #1
I'm glad you like RobotJS! Unfortunately I'm not sure when it will be ready. It was harder than I originally thought and I need time to work on it.

[2015-01-27 18:21] anand-seeenivasagam commented on #1
I am also trying to modify RobotJS using nan and it is harder than I imagined. Thanks for your response. :+1:

[2015-01-27 18:23] octalmage commented on #1
No problem! I started the work here:

https://github.com/octalmage/robotjs/tree/nan

I'll take a look now, see if I can make some progress.

[2015-01-27 19:17] octalmage commented on #1
Actually got it working and converted a function:

87fe58e29557b4af172fd6a2324be03f91c1a25a

I'll finish the rest later, should be much longer.

[2015-01-28 09:12] anand-seeenivasagam commented on #1
Hey thanks, the node module got build successfully for the function mouseClick but when I tested that function it showed this error

    dyld: lazy symbol binding failed: Symbol not found: _clickMouse
    Referenced from: /Users/anand/git/robotjs/build/Release/robotjs.node
    Expected in: dynamic lookup

    dyld: Symbol not found: _clickMouse
    Referenced from: /Users/anand/git/robotjs/build/R

[2015-01-29 05:45] octalmage commented on #1
Awesome! All of it compiled? Or just that function? and what version of Node.js?

Thanks!

[2015-01-29 05:52] anand-seeenivasagam commented on #1
At first I just compiled  that function then I made some changes to other functions by forking the project 09b115ec22351bf719be8601258952aa763e1419. And all of it is compiled in the node version 0.11.13 and woking.

[2015-01-29 05:54] octalmage commented on #3
I personally imagined those keys would be accessible using keyTap, typeString is meant for words.

What did you have in mind?

[2015-01-29 06:28] octalmage opened #4 "Finalize function name scheme."

[2015-01-29 06:34] octalmage commented on #1
I saw that, thanks a ton man!

[2015-01-29 06:40] octalmage opened #5 "Logo/Mascot."
I'd like a little robot mascot for RobotJS.

I'm a fan of the PhoneGap robots:

![](http://phonegap.com/css/images/graphic_build_bot.png)

and these:

![](http://i.imgur.com/ntg5D86.jpg)

Definitely something vector and friendly.

[2015-01-29 06:46] octalmage opened #6 "Add support for right/middle click."
Modify mouseClick so the button can be specified.

[2015-01-29 06:49] octalmage opened #7 "Add toggle function for keyboard."
Allow holding keys down, and releasing them.

[2015-01-29 06:51] octalmage commented on #4
I'm thinking I'd like to separate each set of functions, so the code would be:

[code]

instead of:

[code]

[2015-01-29 06:53] octalmage opened #8 "Mouse button toggling!"
Allow holding buttons down so stuff can be dragged.

[2015-01-30 16:11] octalmage commented on #1
@anand-seeenivasagam since your repository now contains code that is not cross platform it can't be merged. I finished the conversion myself.

[2015-01-30 16:11] #1 closed

[2015-01-30 16:57] anand-seeenivasagam commented on #1
Thats allright! I will try to make the changes cross platform because we need it in future. Thanks! :)

[2015-01-30 17:15] octalmage commented on #1
Awesome! Thanks again for your help!

[2015-01-31 08:31] plasmashadow commented on #4
that would be greate idea...we need to implement the native object factory..

[2015-01-31 08:53] octalmage commented on #4
In e55e2d21b0d2cce3345942eb82ecd043477ce064 I did this in the index.js, are you suggesting we do it natively? I'd be ok with that!

[2015-02-02 02:07] plasmashadow commented on #4
i would suggest javascript functions are better than native.

[2015-02-02 02:10] octalmage commented on #4
I agree, seems like it would be easier to maintain.

[2015-02-02 06:39] plasmashadow commented on #4
yup. it would be much easier . I have seen many native node.js libraries the author will write a primitive functional modules in c++/c and he implements his idea in native node.js

[2015-02-04 13:20] octalmage opened #11 "Get RobotJS working with nw.js 0.11.*"
Currently it's only working with nw.js 0.10.*.

[2015-02-04 16:09] octalmage opened #12 "keyTap doesn't work with capital letters."
This code doesn't work:

[code]

but this does:

[code]

This also works:

[code]

[2015-02-04 17:42] octalmage opened #13 "Implement screen capture, save, open, and search."
Just an issue to track progress and ideas.

[2015-02-04 19:28] #6 closed

[2015-02-04 20:06] octalmage commented on #12
This is because keyTap is build for holding keys down with modifiers (like shift or ctrl). To do a capital letter you'd press h with shift.

[2015-02-04 20:06] #12 closed

[2015-02-04 20:37] #8 closed

[2015-02-04 23:28] octalmage commented on #2
Spent a few hours on this just now, didn't have much luck.

Here's the errors I'm getting on Windows XP using Visual Studio 2010:

[code]

[2015-02-05 01:56] octalmage commented on #2
@plasmashadow was working on this today, hopefully he had better luck.

[2015-02-05 07:01] #3 closed

[2015-02-05 07:03] octalmage commented on #3
keyTap now accepts backspace and enter, like:

[code]

[2015-02-05 07:06] plasmashadow commented on #3
adding backspace is nice...same way i believe there should be an option for enter .correct me if i am wrong.

[2015-02-05 07:07] octalmage commented on #4
I'm thinking for keyboard events I'd like to use, `keyboard` instead of `key`.

Like:

[code]

instead of:

[code]

I think it looks better, and it makes more sense.

[2015-02-05 12:05] octalmage commented on #3
You're correct and I did add enter also! I'll get the wiki updated.

[2015-02-06 10:58] anand-seeenivasagam commented on #2
@octalmage  Getting the same error when I tried to build robotjs in windows

    ..\robotjs\src\os.h(26): warning C4005: 'STRICT' : macro redefinition [..\robotjs\build\robotjs.vcxproj]
          C:\Program Files (x86)\Windows Kits\8.0\Include\shared\minwindef.h(23) : see previous definition of 'STRICT'
    ..\robotjs\src\ms_stdint.h(102): error C2371: 'int_fast16_t' : redefinition; different basi

[2015-02-07 13:43] octalmage commented on #2
Still having issues here. I fixed a bunch of the errors in 581cbdc4637d1e43cd9cfae6a01d3898be347561, but now there's more. I'm probably going to reach out to someone more familiar with gyp for help.

[2015-02-19 01:51] octalmage commented on #13
For the bitmap functions, I'll return an object similar to this:

[code]

This way we can pass the necessary

[2015-02-19 02:17] octalmage commented on #13
With the new syntax this will go in the index.js.

[code]

Then you'll use it like this:

[code]

Note: I wrote this on my phone.

[2015-02-19 02:34] octalmage commented on #13
Might need to use:

createStringFromMMBitmap
createMMBitmapFromString

To pass the image between V8 and JavaScript.

[2015-02-19 04:30] octalmage opened #14 "Possibly sleep after mouse/key events."
Apparently on some machines a delay is needed after a mouse move or click before the next action will work. This is probably an OS limitation.

Since this is in C I can use usleep, I just need to find what the limitation is. 2 miliseconds works on Mac.

[2015-02-19 04:32] octalmage commented on #14
This delay should be configurable, like AutoHotkey's [SetMouseDelay](http://www.autohotkey.com/docs/commands/SetMouseDelay.htm).

[2015-02-24 10:28] danyshaanan opened #15 "negative mouse coordinates returned as 2^64"
When using multiple screens, zero is defined as top left of the main screen, which means that everything to it's left/top should have negative x/y coordinates accordingly. However, those are returned as 2^64.

This image shows the output of the script below as I move the mouse to the left-most screen, and then to the top of it. (`node index.js >> data.txt` and `tail -f data.txt`)

Could this simpl

[2015-02-24 13:59] octalmage commented on #15
Good find! I actually never tested in a multi-monitor set up. I'll check it out and let you know what I figure out!

[2015-03-04 10:43] bernatbombi opened #16 "Printing UTF-8 Characters with accents"
Hi,

when you try to typeString a character with accents, the returned string is not correct.

For example, when I try `robot.typeString('à')` it returns `ￃﾠ`.

The same happens when I try to print an `ñ`, it returns `ￃﾱ`.

Is there a way to make this work?

[2015-03-06 07:06] octalmage commented on #16
There's always a way! Thanks for bringing this to my attention. I'll look into it when I get some time.

[2015-03-12 08:53] amih opened #17 "install fails on ubuntu"
# Edit by octalmage:
If RobotJS fails to build, install these packages:

[code]
----
**Original comment:**
There's an error, some header .h file missing?

solution is to install X developer tools with:

    sudo apt-get install xorg-dev

Perhaps add this to the README file.
never mind, doesn't work on Ubuntu :(

[2015-03-12 08:58] octalmage commented on #17
So far I've only tested RobotJS on Mac, although technically the code is cross platform. The build script probably needs to be modified.

You we're able to get it installed? What part doesn't work? Do you get any errors?

Thanks!

[2015-03-12 12:17] amih commented on #17
After installing the xorg-dev I successfully installed the robotjs but following the demo resulted in error messages:

    undefined

    node: symbol lookup error: /home/amih3/tmp/node_modules/robotjs/build/Release/robotjs.node: undefined symbol: XGetMainDisplay

I hope this helps, thank you!

[2015-03-15 12:59] octalmage commented on #17
Could you try installing ibxtst-dev?

[code]

I believe this should resolve the issue.

[2015-03-25 00:04] maxogden commented on #7
I have done some work on this here https://github.com/maxogden/robotjs/tree/keyupdown

[2015-03-25 00:17] octalmage commented on #7
Looks great! Submit a pull request!

[2015-03-25 00:24] maxogden commented on #7
@octalmage thanks, will do! gonna finish a prototype of a project i'm using it in first (https://github.com/maxogden/screenshare) and then I will -- It's bound to change a bit more still

[2015-03-25 00:36] octalmage commented on #7
No thank you! And screenshare looks awesome, I'll have to check it out.

Sounds good! Really appreciate the help man, I've been super busy recently.

I'll try to start work on the screen/bitmap related functions this week, I've got it worked out on paper.

[2015-03-27 08:51] DamonOehlman commented on #17
Ah, you mean `libxtst-dev` (I assume).  Still doesn't work but I'm having a look at the build script and seeing if I can work it out :)

[2015-03-28 08:42] octalmage commented on #17
@amih, @DamonOehlman was able to get RobotJS building for Linux and I merged his pull request. Could you try the latest code to see if it works?

@DamonOehlman were there any additional packages needed?

[2015-03-28 10:56] DamonOehlman commented on #17
Nope, `xorg-dev` was all that was required and I suspect we can get it down to a tighter list also, but I haven't investigated that as yet...

[2015-03-28 10:59] octalmage commented on #17
Awesome!

So `libxtst-dev` wasn't needed after all?

[2015-03-29 02:49] DamonOehlman commented on #17
I think it was, but was brought in as a dependency of `xorg-dev`.  Let me uninstall `xorg-dev` and I'll try and identify the specific packages that are required.

[2015-03-29 02:55] DamonOehlman commented on #17
OK, I looks like `libxtst-dev` is the best package to require as a dependency as bringing it in also brings in `libx11-dev` which is also required.  I did however also specify `png` and `z` as required link settings as these were expressed as dependencies in autopy.

[2015-03-29 03:02] octalmage commented on #17
Great, thanks again for your help. I'll get the readme updated and a new version out tonight. z and png may not be needed now, but they will be necessary dependencies as soon as I finish the screen and bitmap modules.

[2015-03-29 03:05] octalmage commented on #17
I'll confirm in a VM and close this out also.

[2015-03-29 03:06] octalmage commented on #17
Now I can start with continual integration and unit testing. I'm excited.

[2015-03-29 03:11] DamonOehlman commented on #17
Nice.  Note some changes for travis around the new docker containers around [installing APT packages](http://docs.travis-ci.com/user/apt-packages/) but yeah this should be pretty easy to test there :)

[2015-03-29 05:09] JohnDittmar commented on #17
I tried building it on my machine under Ubuntu 14.10 and I ran into a dependency issue with a few items:

One was installing `npm install nan` for node-gyp.

The other dependency I ran across was a libgd-dev error on `node-gyp build` which prompted:`/usr/bin/ld: cannot find -lpng `.

`sudo apt-get install libgd-dev` resolved the `/usr/bin/ld: cannot find -lpng` message.

[2015-03-29 15:06] octalmage commented on #17
In testing with @JohnDittmar we found that some functions don't work on Ubuntu, like keyTap and getPixelColor. These need to be working before I update the readme and close this.

[2015-03-30 03:16] DamonOehlman commented on #17
Sure thing - if I get some more time I'll investigate and see if I can work out what's required.

[2015-03-30 03:23] octalmage commented on #17
Same here! I believe one issue is the snprintf function in getPixelColor.

[2015-03-30 08:53] syzer commented on #2
+1

[2015-04-01 08:13] smmoosavi commented on #17
Is there any solution for `node: symbol lookup error: /home/amih3/tmp/node_modules/robotjs/build/Release/robotjs.node: undefined symbol: XGetMainDisplay`?

System info:
[code]

[2015-04-02 05:49] octalmage commented on #17
The Linux build still needs a lot of work, unfortunately I don't know a solution currently. probably missing includes or compiler flags.

[2015-04-02 05:52] octalmage commented on #17
Actually, did you try the code in this repository? Or just install using NPM?

[2015-04-02 06:22] smmoosavi opened #19 "[Linux] buffer overflow in getPixelColor."
When I use getPixelColor, buffer overflow occurred.
code:
[code]

[code]

system info:
[code]

If you want I can paste memory map here.

[2015-04-02 06:24] octalmage commented on #19
Thanks, this falls under the Linux issue. Currently only Mac OS X is supported but we're working on Linux and Windows builds.

[2015-04-02 06:25] smmoosavi commented on #17
Yesterday I use `npm i robotjs`.
Now `npm i git+https://git@github.com/octalmage/robotjs.git` fixed problem. `getMousePos` and `typeString` work correctly.
but new buffer overflow problem occurred with getPixelColor explained in  #19

[2015-04-02 06:28] octalmage commented on #17
Great! I have an idea about getPixelColor, unfortunately it's not convenient for me to work on Linux.

[2015-04-02 06:37] smmoosavi commented on #19
Ok. Txn

[2015-04-15 03:25] gasolin opened #21 "[Use case] webbymouse"
Hi, FYI I've made a Desktop app (via node webkit) which use robotjs to control desktop mouse.
It bundle with express server so user can open a mobile browser and the mobile device turn into touchpad immediately.

https://github.com/gasolin/webbymouse

[2015-04-15 04:52] octalmage commented on #21
Looks awesome! I'll make a wiki page for apps using RobotJS when I get home.

[2015-04-16 03:22] octalmage commented on #21
Alright you can add your app to this list!

https://github.com/octalmage/robotjs/wiki/Projects-using-RobotJS

Please follow this format:

https://github.com/nwjs/nw.js/wiki/List-of-apps-and-companies-using-nw.js

Let me know when it's added!

[2015-04-16 14:24] raelgor opened #22 "Can't build on win8"
Did I forget to do something or is this a version mismatch?

![image](https://cloud.githubusercontent.com/assets/3382344/7182941/19d25636-e45d-11e4-97cf-69398be30e8c.png)

[2015-04-16 14:30] RangerMauve commented on #22
AFAIK this library doesn't support windows.

[2015-04-16 14:33] raelgor commented on #22
Oh, sorry, didn't realize. Would love to see it on windows though.

[2015-04-16 14:34] octalmage commented on #22
The code technically supports Windows, I'm just having a hard time getting the node-gyp build flags right. It's in the works though! #2

Star the project to get notified of updates!

[2015-04-16 14:35] octalmage commented on #22
I'm honestly stuck, I'm going to reach out to the node-gyp team today.

[2015-04-16 14:37] raelgor commented on #22
Starred it! Good luck with that... I wish I could help but this stuff is beyond me :/

[2015-04-16 14:38] octalmage commented on #22
Ha thanks! Apparently it's beyond me too. :p

[2015-04-16 14:38] #22 closed

[2015-04-16 18:06] #21 closed

[2015-04-16 18:11] octalmage commented on #7
@maxogden unrelated, but do you mind if I add ScreenCat to the Wiki:

https://github.com/octalmage/robotjs/wiki/Projects-using-RobotJS

I'm trying to put together a list of projects using RobotJS, similar to [nw.js](https://github.com/nwjs/nw.js/wiki/List-of-apps-and-companies-using-nw.js) (same format).

[2015-04-16 18:44] maxogden commented on #7
sure

[2015-04-23 12:43] navFooh opened #24 "Support for double click"
Hi Jason,

Is there any (plan for) support of double click in robotjs?
You'd say executing two sequential clicks should do it, but that doesn't work for me.
Also doing mouseToggle with "down", "up" twice just functions as a click.

Any experience with this? Double click would be quite nice.

Cheers, Thijs

[2015-04-24 21:15] octalmage commented on #24
Hello,

I believe every OS has a limit to how fast it can receive events, and this is probably what you're running into.

Have you tried putting a delay between the two clicks?

I will probably add some support for a built in configurable delay at some point to help with this.

[2015-04-24 21:19] ThisIsJohnBrown opened #25 "Get Screen Dimensions"
Having screen dimensions would be great for calculating where on the screen the mouse is or should be.

This could be returned as a new call in `screen` or returned with the object from `getMousePos()` so you would have `x`, `y`, `width`, and `height` parameters.

Another possibility is passing into `getMousePos({percent:true})` and have it return 2 percentages rather than a fixed location `{
  x:

[2015-04-24 21:29] octalmage commented on #25
I think I'll create a new method for getting the screen size so it's not slowed down by getting the mouse position. The internal C function `getMainDisplaySize()` does what you want, it will be very easy to expose it to Node.js (with a new name).

I'll try to get this added tonight!

[2015-04-25 08:35] #25 closed

[2015-04-26 13:52] octalmage commented on #25
Sorry, thought I replied to this. I added `getScreenSize`:

[code]
I released RobotJS v0.1.2 with this function, update and let me know how it works!

[2015-04-27 16:07] octalmage commented on #24
#14 is related, I'll try to do some testing today.

[2015-04-28 10:05] navFooh commented on #24
I haven't had any luck putting a delay between the clicks unfortunately.
I'm triggering the events over a websocket server but I doubt that has anything to do with it
Hope you have more luck!

Cheers, Thijs

[2015-04-28 13:17] octalmage commented on #24
I've done some testing and you're right, setting a delay doesn't work! It looks like some additional code is needed to double click on Mac, I'll work on getting this implemented now!

[2015-04-28 13:36] navFooh commented on #24
Thanks man, I'll be happy to help testing after!

[2015-04-28 14:45] octalmage commented on #24
Using the code from here:

http://stackoverflow.com/questions/1483657/performing-a-double-click-using-cgeventcreatemouseevent/1483666#1483666

Specifically `CGEventSetIntegerValueField` I was able to get double click working in at least one app, but it doesn't work in Finder or Google Chrome. It's very strange. If you'd like to test, check out the doubleclick branch(68d375112959023377cb566cb09e010

[2015-04-29 14:55] ThisIsJohnBrown commented on #25
Perfect! Thank you, @octalmage!

[2015-04-29 17:18] navFooh commented on #24
Sorry I've moved on to another project now and don't have much time at the moment.

Just thinking that with this implementation you'd have to set some kind timer after a click to wait for a possible double-click before triggering the mouse click event. This would make a normal click less responsive (in my case where I'm controlling the mouse from another machine).

If there's no other way to go ab

[2015-04-29 17:20] zz85 commented on #22
i think the reason is that robotjs doesn't support windows currently https://github.com/octalmage/robotjs it's a pity though...

[2015-04-29 17:27] octalmage commented on #24
No worries.

Good point! I don't understand why there's a separate event for double clicks on Mac, that makes this difficult. I'm sure I'll find a better solution though.

[2015-04-30 02:05] gasolin commented on #11
confirm robotjs works with nw.js 0.12.1, need install robotjs via io.js 1.2.0 (the correspondent version within nw.js, can use nvm to switch node/iojs versions)

read https://github.com/gasolin/webbymouse#build-for-desktop

[2015-05-07 09:40] Multiply commented on #4
:+1: for this. Then you can also just include the scope you need, so if you only need to control the mouse, simply just only have that.

[2015-05-07 09:43] Multiply opened #27 "Implement callbacks"
I want to do something like ```javascript
robot.moveMouseSmoothly(x, y, function(coordinates, oldCoordinates) { console.log('Done moving'); });
[code]

[2015-05-08 20:40] octalmage commented on #4
Good point @Multiply!

[2015-05-09 07:08] octalmage commented on #27
This is probably way better than #14, it's the Node.js way to do things.

Thanks for the suggestion, I'll keep it in mind.

[2015-05-14 03:57] bjrmatos opened #28 "How to capture keyboard events?"
Hello, It is possible to receive the key that was pressed when typing? something like onkeypress event in the browser.

My use case would be implement a keylogger :)

[2015-05-19 13:30] octalmage commented on #28
Unfortunately this is not possibly with RobotJS currently, RobotJS is for sending events!

![](http://media4.giphy.com/media/kS2qLKwGk3MXe/giphy.gif)

[2015-05-19 13:30] #28 closed

[2015-05-19 13:32] octalmage commented on #25
![](http://media1.giphy.com/media/Vmunw0k7q12Ks/giphy.gif)

[2015-05-19 13:35] octalmage commented on #11
Yeah this was resolved at some point! Thanks!

[2015-05-19 13:35] #11 closed

[2015-05-20 09:16] octalmage commented on #2
I really need to get this working. As more projects start to rely on RobotJS, I'm letting them and their users down by not supporting Windows.

I've been doing a lot of research and I have some new ideas, I'm going to hit this hard tomorrow. At the end of Thursday if I can't get it building I'll post to the gyp mailing list.

The code is cross platform, I just need to set the right flags for MSVC.

[2015-05-20 09:18] syzer commented on #2
+1

[2015-05-20 09:25] octalmage commented on #2
![](http://media0.giphy.com/media/faYylKmpsxsuQ/giphy.gif)

I'm praying to the C/C++ gods.

[2015-05-23 23:57] J4G- commented on #2
+1

[2015-05-24 04:48] octalmage commented on #2
Going to need another week, it's going to happen this month!

[2015-05-27 00:27] #7 closed

[2015-05-28 19:49] octalmage commented on #2
So I'm getting close with this as my bindings.gyp:

[code]

I know it's a mess, but it's getting me close.

[2015-05-28 21:13] octalmage commented on #2
The errors I'm getting seem to be related to using C:

[code]

[2015-05-29 09:30] octalmage commented on #2
Unfortunately I wasn't able to get the project to build. This is very disheartening but I posted to the Node.js mailing list. Hopefully I'll get some help there.

I just want a Windows build so bad, If anyone is familiar with Visual Studio, we could use your help!

[2015-06-12 04:01] JCMais commented on #2
I've tried to run it on Windows, some stuff I found while trying to get it working.

The file https://github.com/octalmage/robotjs/blob/master/src/ms_stdint.h is already included by libuv, which results in duplicated definition errors.

https://github.com/octalmage/robotjs/blob/master/src/robotjs.cc#L286 There is no nanosleep or timespec types on Windows, so this function is doomed.

The nan inclu

[2015-06-12 04:08] octalmage commented on #2
No way!!! You are my hero @JCMais.

[2015-06-12 04:18] octalmage commented on #2
The ms_stdint.h/libuv issue probably caused a ton of the errors I was seeing, great find! I guess we should just remove this completely right?

The nanosleep stuff is new, we'll need to make a cross platform equivalent, or remove it. Still not sure if I want to have the delay built in or make everything chainable. #14 #27

Anyway, thanks a ton!

[2015-06-15 08:03] octalmage commented on #2
I played with this today and was able to get RobotJS building on Windows in 10 minutes thanks to the comment from @JCMais. I'll get it cleaned up and released this week!

[2015-06-15 13:49] RangerMauve commented on #2
Does this mean there's official Windows support now? Sick!

[2015-06-15 17:48] JCMais commented on #2
@octalmage Nice! (:

[2015-06-15 22:22] octalmage commented on #2
@RangerMauve there will be soon! I'm so excited.

![](http://media2.giphy.com/media/kqtAwnXysQMh2/giphy.gif)

[2015-06-16 05:34] plasmashadow commented on #2
@octalmage  you did it.

[2015-06-19 13:08] maciejjankowski opened #31 "Failing build Windows 7"
..\src\robotjs.cc(2): fatal error C1083: Cannot open include file: 'nan.h': No such file or directory [c:\Users\mj\code\test\node_modules\robotjs\build\robotjs.vcxproj]

[2015-06-25 15:00] ryanramage commented on #15
yup, I see this as well.

On one external monitor:

and on the other external monitor:

[2015-06-26 10:25] octalmage commented on #31
RobotJS doesn't currently support Windows, but we're close.

See #2.

[2015-06-26 10:25] #31 closed

[2015-06-27 15:09] hugohil opened #32 "Electron (Atom-shell) compatibility break"
Hi :)

I want to use your library with [`electron`](http://electron.atom.io) but I can't get it to work. All I get when I launch my program is:
[code]

I'm running this on Mac OS 10.10.3, with node `0.12.4`. I tested the lib with a simple script (i.e not with `electron`) and it worked perfectly. I also tried to build [screencat](https://github.com/maxogden/screencat) (a program which uses `electro

[2015-06-27 15:26] hugohil commented on #32
I just tested with `nvm` and with `0.10.39`, as well as with `0.10.31`, I get a different error:
```Error: Module did not self-register.```

[2015-06-28 21:20] Nedomas commented on #32
It's because electron does not use standard node. Check out how you can rebuild the modules http://electron.atom.io/docs/v0.28.0/tutorial/using-native-node-modules/

I am having a similar problem with ``robotjs``. It is working perfectly when I run it with ``electron app_dir``, but when I package it and run as an app, ``robotjs`` just does not execute commands anymore. No errors, nothing. Where sh

[2015-06-29 22:47] kilianc commented on #27
Better if returns a promise, a callback that doesn't have `err` as first parameter is not standard and not `yield`able :)

Looks like we have no err to report, and having always nil seems unnecessary

[2015-07-02 13:55] Nedomas commented on #32
@hugohil any luck figuring it out? :)

[2015-07-05 07:07] octalmage commented on #32
Hey sorry guys! I've been busy with work, and focusing on the RobotJS Windows build. I'm an nw.js guy also, so I may not get to this for a while.

[2015-07-05 07:24] octalmage commented on #27
I'm still not sure how I should handle this, but I think it would be best to use callbacks with a delay in the C code. This way the commands are chainable, the delay is non-blocking, and we won't run into any OS limitations.

[2015-07-11 04:43] octalmage commented on #2
Could someone help me test the Windows build?

https://github.com/octalmage/robotjs/tree/windows

There might be some issues with this branch, if it doesn't build try [robotjs.zip](https://cldup.com/GI1qJriceM.zip).

**Known issues:**

* `getPixelColor` is broken because of the snprintf, I'm probably going to write my own padding function.
* The `mssleep` function needs to be cross platform.
* `mo

[2015-07-14 13:11] Hypercubed commented on #2
Looks like the version in the zip file works, windows branch does not.  Using the windows branch:

[code]

Using the zip file:
[code]

[2015-07-14 13:12] Hypercubed commented on #2
P.S. looking forward to using this!

[2015-07-14 19:18] OverZealous commented on #15
I think related to this, I'm getting a `SEGFAULT` trying to extract the color from a far-left monitor (using the example code).

[code]

[2015-07-15 10:30] octalmage commented on #2
Thanks @Hypercubed!

Could you try this code?

var robot = require("robotjs");

//Get the mouse position, returns an object with x and y.
var mouse=robot.getMousePos();
console.log("Mouse is at x:" + mouse.x + " y:" + mouse.y);

//Move the mouse down by 100 pixels.
robot.moveMouse(mouse.x,mouse.y+100);

//Left click!
robot.mouseClick();

I'm mostly interested in the moveMouse and mouseClick.

Also

[2015-07-15 12:57] Hypercubed commented on #2
I tried the windows branch again (now on a win 8, was on win 7 before) after running `npm install nan`.  Still no luck.

The zipped build does work on windows 8.  I ran the following:

[code]

and got:

[code]

[2015-07-15 13:01] octalmage commented on #2
@Hypercubed I had a feeling a messed up the windows branch.

It looks like moveMouse works! Woohoo! That's super good news. I'll work on the other non cross platform code now.

[2015-07-15 19:13] Nikersify commented on #2
@octalmage probably doing something wrong, but the zipped build you linked in https://github.com/octalmage/robotjs/issues/2#issuecomment-120572389 throws an `%1 is not a valid win32 application` error for me on win8

[2015-07-15 19:16] octalmage commented on #2
@Nikersify hmm I haven't seen that before. What steps did you follow?

[2015-07-15 19:19] Nikersify commented on #2
@octalmage simply thrown the zip's contents into `node_modules/robotjs` then tried to `require` it

[2015-07-15 19:33] Nikersify commented on #2
@octalmage also just now I've tried `npm install`ing directly from github which fails at `node-gyp rebuild`

[2015-07-15 20:54] octalmage commented on #2
Try this:

* Download and unpack zip.
* Run `npm install`.
* Run `node-gyp rebuild`.
* Place entire contents in node_modules/robotjs.

Then try using the library.

I looked at your log and I honestly I'm not sure what's going on there.

[2015-07-15 21:10] Nikersify commented on #2
@octalmage fails at `npm install` again https://gist.github.com/Nikersify/6217e6c2220daff046e0
ps: thanks for the help! really looking forward to this package!

[2015-07-15 21:16] Nikersify commented on #2
@octalmage also some stuff after running `node-gyp rebuild` directly https://gist.github.com/Nikersify/b149bcfa49c8a878487e - sorry for throwing so many long `.log` files at you by the way, I'm quite new to node :p

[2015-07-15 21:30] octalmage commented on #2
No worries, I super appreciate the help testing!

Unfortunately I don't know what the issue is. Since this has worked for me and a few others my first idea is the environment? Could be the node.js version, or maybe the python version? I'm not even sure which line is the error.

I'm currently away from my computer, could another Windows user take a look?

[2015-07-16 01:19] octalmage commented on #2
@nikersfy after looking at your logs some more it looks like you are building the RobotJS version hosted on GitHub? A lot of those errors have been fixed in my Windows zip posted above.

[2015-07-16 01:21] octalmage commented on #2
@Nikersify after looking at your logs some more it looks like you are building the RobotJS version hosted on GitHub? A lot of those errors have been fixed in my Windows zip posted above.

[2015-07-16 15:05] Nikersify commented on #2
@octalmage yea I was building it from the windows branch, now that I've switched it fails aswell unfortunately. I've tried a lot of different things to make it work aswell - no luck so far. I'll keep poking it and let you know if I figure something out.

[2015-07-16 18:11] d48 commented on #4
Just chiming in as I see would be great to chain, have the commands return the `robot` object so you can do:
[code]

[2015-07-16 18:19] RangerMauve commented on #4
Chaining would be pretty nice, actually.

[2015-07-16 23:20] douglas-larocca commented on #17
For anyone who may have the same issue on debian, `X11/extensions/XTest.h` is provided by `libxtst-dev`.

[2015-07-17 03:19] jczimm commented on #2
+1

[2015-07-17 12:50] piyushpatil027 opened #36 "install fail on ubuntu 14.04"
Hi,

Hope you are doing great.You have developed great package.I am using ubuntu 14.04.
I configure your package but when i  run command ( node-gyp build ) it is giving  error.

make: Entering directory `/home/piyush/app/Nodejs_Application/robotjs/build'
  CC(target) Release/obj.target/robotjs/src/mouse.o
../src/mouse.c:12:35: fatal error: X11/extensions/XTest.h: No such file or directory
  #inclu

[2015-07-17 13:10] elfring opened #37 "Completion of error handling"
Would you like to add more error handling for return values from functions like the following?
- [fclose](http://pubs.opengroup.org/onlinepubs/9699919799/functions/fclose.html "close a stream") ⇒ [newMMBitmapFromPNG](https://github.com/octalmage/robotjs/blob/d3f03d089d3d974c47ae1d4e1f7b34d4093db217/src/png_io.c#L138)
- [fseek](http://pubs.opengroup.org/onlinepubs/9699919799/functions/fseek.html "r

[2015-07-17 13:32] elfring opened #38 "reserved identifier violation"
I would like to point out that identifiers like "[`_MMSize`](https://github.com/octalmage/robotjs/blob/d3f03d089d3d974c47ae1d4e1f7b34d4093db217/src/types.h#L9)" and "[`_MMPointArray`](https://github.com/octalmage/robotjs/blob/aad9e6db8f2d2335e331b95be2e749d85d858940/src/MMPointArray.h#L7)" [do not fit](https://www.securecoding.cert.org/confluence/display/cplusplus/DCL51-CPP.+Do+not+declare+or+defi

[2015-07-17 13:42] octalmage commented on #38
I think we're good, thanks though!

[2015-07-17 13:42] #38 closed

[2015-07-17 13:45] octalmage commented on #37
I'll look at a pull request of you want, otherwise I think it's fine.

[2015-07-17 13:45] #37 closed

[2015-07-17 13:50] elfring commented on #38
How do you think about to avoid that this software [depends on undefined behaviour](https://www.securecoding.cert.org/confluence/display/c/CC.+Undefined+Behavior#CC.UndefinedBehavior-ub_106 "Avoid undefined behaviour?")?

[2015-07-17 13:55] elfring commented on #37
I suggest to avoid [ignorance of return values](https://cwe.mitre.org/data/definitions/252.html "Unchecked return values") a bit more.

Are you interested to apply [aspect-oriented software development](http://aspectc.org/ "AspectC++")?
How do you think about to encapsulate error detection and corresponding exception handling as [a reusable aspect](http://en.wikipedia.org/wiki/Aspect_%28computer_p

[2015-07-17 15:19] octalmage commented on #4
Chaining would be nice, but how would you do error handling?

[2015-07-17 17:44] RangerMauve commented on #4
This might be controversial, but what about a promise-based API?

[2015-07-17 19:52] ariporad commented on #4
(First of all, I'm new here. Sorry if I shouldn't just be jumping in. I really like the idea of this project, and have been looking for something to contribute to. I don't know C/C++, but I'm goodish with node).

@RangerMauve Promises would work, but they're hard to chain. The trouble with them is that they return a promise, not robot.

IMHO, the way to do it would be to throw an error. It seems l

[2015-07-17 19:56] RangerMauve commented on #4
@ariporad In terms of promises, it doesn't necessarily have to be a promise that gets returned outright. It just matters that it's a "thenable". So it could be an object that has all the same methods as `robot` but also has a `.then()` method. And whenever one of the methods get called, they get chained with something like `return robot.wrapPromise(robot.then(dothething))` internally.

[2015-07-17 19:56] ariporad commented on #5
What if we did something Wizard-of-Oz-related, but with a robot instead of a person? ie. ~~Man~~ Robot behind the screen? That sounds kind of terrible, but a robot in a hot-air balloon might work.

[2015-07-17 19:58] ariporad commented on #4
Oh, really? (Promises are weird). That could work then. Although I feel like it'd be rather confusing. (but it's probably the best way to do it).

[2015-07-17 20:04] RangerMauve commented on #4
Well, it's not so much promises as it'd be a fluent interface that relies on promises. One could probably do it without promises, too.

[2015-07-17 20:49] octalmage commented on #5
I like it, just seems difficult to convey with a logo. The idea of a robot controlling something makes sense for the project though!

[2015-07-18 05:34] abhinavsingh commented on #36
Try again after

[code]

[2015-07-18 07:55] piyushpatil027 commented on #36
Thanks abhinav,

It works.

[2015-07-18 09:33] matteocrippa opened #39 "OSX El Captain compatibility issue"
It seems that using OS X El Captain beta the mouse move doesn't work, mouse get is pretty working well

If you need any log, feel free to ask

[2015-07-18 09:34] octalmage commented on #36
Great! Thanks @abhinavsingh!

[2015-07-18 09:34] #36 closed

[2015-07-18 14:39] Prof-Dan opened #40 "Cancelling running robotjs methods"
Is there a way of cancelling running methods such as mouseMoveSmooth() when the node program exits?

At the moment there is no way of stopping the robotjs from running and pressing buttons even if process.exit(1) is called...

[2015-07-18 15:55] octalmage commented on #17
Could someone let me know if this code works with RobotJS from the master branch?

[code]

I just added space to keyTap, but I'm unsure if I got the Linux keycode right. See: https://github.com/octalmage/robotjs/commit/523cf3b2ea9e9659206bbea9b05b12314e70929b.

[2015-07-18 16:47] octalmage commented on #17
Nevermind! I used my VM to test, and I was wrong. I fixed it in e935825ad0a03971bbfd5c976f793fb2b87f8370 though.

Finally found the correct keycode in this code:
https://gitlab.com/higan/higan/blob/3ce1d19f7a6890b410f1687ea88759b3aff6a367/ruby/input/keyboard/xlib.cpp#L283

[2015-07-18 16:58] #19 closed

[2015-07-18 17:02] octalmage commented on #17
Ok I fixed the issue with `gePixelColor` #19, but the returned colors seem off.

Could someone double check this?

Thanks!

[2015-07-18 19:55] smmoosavi commented on #17
I test it on ubuntu. it works.
[code]

my os:
[code]

[2015-07-18 20:40] octalmage commented on #17
@smmoosavi Awesome! Does the hex match the screen?

[2015-07-19 15:25] octalmage commented on #4
I did some testing and for this code to work:

[code]

There needs to be a 50-100ms delay after the move. After I added the delay to the C++ code this code works without issue.

With the delay in the C code, is there anything wrong with the syntax above?

#14 and #27 are related.

[2015-07-19 18:13] smmoosavi commented on #17
yes, mouse is on red color when I run js file.

[2015-07-20 14:39] Prof-Dan commented on #40
This is related to #27 as the methods must be asynchronous for them to be able to be cancelled, so I guess this is not actually a separate issue?

[2015-07-22 08:53] Deltatiger opened #41 "Redundant Include Guards"
I was going through the code and found that all header files have both #ifndef and #pragma once. This seems to be redundant. There are no significant performance improvements as far as I have seen.

According to wikipedia the #pragma once is supported in most compilers. Why not just use that alone ?
Wiki article link : https://en.wikipedia.org/wiki/Pragma_once#Portability

[2015-07-22 15:15] cataquil commented on #2
Was there a fix to the binding.gyp file to put nan into the
C:\Program Files (x86)\Microsoft Visual Studio xx.x\VC\include
folder?

someone said something about single or double quotes?

    'include_dirs': [
        '<!(node -e \'require("nan")\')'
    ],

but the nan npm says
"<!(node -e \"require('nan')\")"

I tried both, is there only to copy the nan.h files into the VC/Include folder?

[2015-07-23 17:13] octalmage commented on #2
Just published the `windows-2` branch, which includes a bunch of bug fixes:

https://github.com/octalmage/robotjs/tree/windows-2

Currently only `getPixelColor` might be broken, it returns `000000` in my VM. I'm not sure if it's really broken, so if someone could test and confirm that would be cool.

[2015-07-23 17:19] octalmage commented on #17
Great! Then it looks like we have full Linux support. I'll close this in a few days, just want to confirm everything is working as expected.

[2015-07-23 17:59] Deltatiger commented on #2
The getPixelColor is broken. The script mentioned above (mouseclick) works good.

[2015-07-23 19:00] octalmage commented on #2
@Deltatiger thanks a ton for confirming! I'll dig into getPixelColor when I have time. After that we're pretty much ready to merge!

[2015-07-24 02:59] Deltatiger commented on #2
@octalmage Np. I will also look into it and see if I can fix it. I am pretty new to node.js (started yesterday) so let me give see what I can do.

[2015-07-24 03:12] octalmage commented on #2
@Deltatiger Awesome have at it! Just a heads up, RobotJS is actually written in C/C++.

If I had to guess, id say the issue is the snprintf call in src/robotjs.cc. I don't trust the portable version of that function.

[2015-07-24 03:18] octalmage commented on #2
I also wrote this code the other day just in case we needed to replace that snprintf call:

https://gist.github.com/octalmage/2b873e2b50695cda56d8

[2015-07-24 04:46] Deltatiger commented on #2
Seems I may have found the problem. The BitBlt function in the screengrab.c seems to have the arguments mixed up.

[code]

The code now is
[code]

It should be
The code now is
[code]

I cant test right now. But I can check it out in around 10 Hours from now.

[2015-07-24 05:28] octalmage commented on #21
I added WebbyMouse for you!

https://github.com/octalmage/robotjs/wiki/Projects-using-RobotJS

[2015-07-24 14:55] Deltatiger commented on #2
Yup that fixed the issue. getPixelColor is now working.

[2015-07-25 03:33] Deltatiger commented on #15
Seems js doesn't have signed and unsigned numbers. Converting all numbers to a uniform 64 bit format will help I guess. Will have to check it out

[2015-07-25 14:36] octalmage commented on #2
Thanks to pr #43 from @Deltatiger and 8730e94d4c86bde2a5d2362c921682647bc2de8a we now have full Windows support. I'll get ready to merge into the master branch.

If anyone wants to test the `windows-2` branch before I merge, that would be cool!

[2015-07-25 15:51] octalmage commented on #40
I haven't thought about this, you'll probably just have to wait for mouseMoveSmooth to finish before closing the app. mouseMoveSmooth calls moveMouse in a loop, so I believe it's blocking.

[2015-07-25 20:40] #2 closed

[2015-07-25 20:44] octalmage opened #46 "Include examples in repository?"
I'm wondering if we should include some examples in the repository. I always like it when projects do this, it makes it easy to test the library and see what it can do. But it also clutters the repository, which I don't want to do.

Thoughts?

[2015-07-25 20:47] octalmage commented on #17
I've done some additional testing and I'm going to consider this closed!

[2015-07-25 20:47] #17 closed

[2015-07-25 20:51] octalmage commented on #2
We did it!

![](http://media0.giphy.com/media/V0BIjUQRfl8tO/giphy.gif)

Thanks to everyone who helped!

[2015-07-25 23:42] octalmage commented on #2
RobotJS v0.2.0 has been published to npm with Windows support.

[2015-07-26 10:57] Prof-Dan commented on #46
You could always make a new repository for the examples...

[2015-07-26 17:05] slifin opened #47 "npm install failed under windows"
here is npm-debug.log
http://pastebin.com/pfgVDBrf

[2015-07-26 21:56] octalmage commented on #47
Hmm I've seen this before but I'm not sure what causes it. I can't remeber what I had to install if anything to get RobotJS to build under Windows. I'll try to take a look tonight.

[2015-07-27 04:29] JCMais commented on #2
Awesome work @octalmage!

[2015-07-27 04:55] magicdawn commented on #2
![](https://38.media.tumblr.com/tumblr_m8h0qbBrJR1qg6rkio1_500.gif)

[2015-07-27 15:52] Deltatiger commented on #47
I seem to be able to build this just fine. I did get an error for Python but a simple --python switch fixed it.
BTW I build using ``` npm install robotjs --python=C:\Python27 ``` (just to be clear. I may have done it differently)

[2015-07-27 15:57] Deltatiger commented on #46
I agree with @Prof-Dan. We should move all examples and demos to a new repository. That would make maintaining very easy.
Also creating a unit test for this would also be good. Just a thought. Something like regression would be great for testing if any new bugs popped up.

[2015-07-27 16:20] Deltatiger commented on #47
Seems to be an issue with install nan? The error logs dont make much sense to me though :smile:

[2015-07-27 17:07] wanglong167 opened #49 "add MouseWheel"
rt MouseWheel

[2015-07-28 12:29] octalmage commented on #15
This has been fixed in #48 which has been merged. I'll publish to npm later today.

[2015-07-28 12:29] #15 closed

[2015-07-28 15:38] Deltatiger commented on #49
@octalmage I will start working on this in Windows.

[2015-07-28 15:40] octalmage commented on #49
@Deltatiger sounds good! I believe someone already started this, let me find the fork.

[2015-07-28 15:46] octalmage commented on #49
@Deltatiger @anand-seeenivasagam started it here:

https://github.com/anand-seeenivasagam/robotjs/blob/4b8d11a26046dc6e97acf23b768e043c4c3332a2/src/mouse.c#L127

But, it's missing the Windows code. So please have at it!

Once you get your branch up and running create a PR and I'll add the Mac/Linux code.

[2015-07-28 15:54] octalmage commented on #47
Yeah it's very confusing. @slifin, could you give us the console output from npm install robotjs? I'm more familiar with what those errors mean. :p

Thanks!

[2015-07-28 15:59] octalmage commented on #16
I looked into this for a few minutes and I believe the issue is in keypress.c. I'm curious if this is an issue on Windows though. I'll update when I have more time to test.

[2015-07-28 16:59] Deltatiger commented on #47
The ``` '<!(node -e \'require("nan")\')' ``` in the binding.gyp does not seem to be working for me. Had to change it back to ```"<!(node -e \"require('nan')\")"``` to make it build again. Maybe this is causing the error ?

[2015-07-28 20:23] octalmage commented on #14
I added a 10 miliseconds delay to the mouse events and the mouse tests now pass 95% of the time.

[2015-07-28 20:57] Nikersify commented on #16
`robot.typeString('!@#$%^&*()')` returns `1234567890` on windows, probably related.

[2015-07-28 21:53] octalmage commented on #16
Uh oh! That's silly.

[2015-07-29 00:06] danyshaanan commented on #15
Thanks! :]

[2015-07-29 01:14] SpencerC opened #51 "Multiple monitor support"
On OSX, calling getMousePos() when on a monitor above my main screen returns: { x: 293, y: 18446744073709552000 }

Requesting the mouse position through cocoa returns the mouse position relative to the origin of the main screen, for example: { x: 293, y: -291 }

[2015-07-29 01:28] octalmage commented on #51
Hey @SpencerC! This was fixed in #48, I just haven't published it to npm yet. Try using RobotJS from master and let me know how it works!

I'll get a new version published tonight.

[2015-07-29 03:37] Deltatiger commented on #16
I will check this out on windows when I have the time.

[2015-07-29 11:00] wanglong167 commented on #49
tks

[2015-07-29 11:00] #49 closed

[2015-07-29 19:27] Prof-Dan commented on #46
Yes, making unit tests for every individual feature would make tracking down bugs a lot easier, and also making an example for each individual feature (moveMouse, typeString, etc.) would make testing for bugs easier as well.

[2015-07-29 20:18] Multiply commented on #4
I don't like to block my app. I'd much rather have something like:
[code]

[2015-07-30 01:50] octalmage commented on #46
I've got tests in the "test" directory, just working on a way to test things like typing and clicking. I'm making a testing tool that will open a GUI with buttons and inputs for those features.

[2015-07-30 02:02] octalmage commented on #46
But I agree there should be a separate repository for the examples. I'll set this up when I get back to Austin. I for sure want to make a screen color picker. And something fun like this:

https://twitter.com/octalmage/status/561312155341824000

[2015-07-30 10:28] skibz commented on #27
callbacks :+1:

[2015-07-30 10:56] abhijeetpathak commented on #4
@Multiply +1 for callbacks.

Callbacks are nice for activities which take considerable amount of time to complete.
Keyboard and mouse activities should have OPTIONAL callbacks.

Callbacks would be really helpful in scenarios such as taking screenshots and saving them to a file. Those kind of activities will require large amount of time and hence callbacks.

[2015-07-30 11:15] raphaelbastide commented on #5
What about just a robot’s hand? Simple enough to be a logo, and pretty exclusive!

Here is a (really) quick draft:

![robotjs](https://cloud.githubusercontent.com/assets/193122/8981965/fc1b9e10-36bc-11e5-8ad4-fe3df14afdbc.png)

[2015-07-30 13:17] itsashis4u opened #52 "node-gyp rebuild fails"
Error while installing robotjs

[code]

[2015-07-30 13:22] Akkuma commented on #4
-1 for callbacks. What @RangerMauve suggested is part of the future of callback replacement.

My suggestion is go all in on ES7 async/await so you can instead do the following
[code]

Now some real API suggestions is that move could return an object containing the old and/or current position rather than nothing.
[code]

[2015-07-30 13:30] RangerMauve commented on #4
If you don't want to go with es7, then async/await is really just nice sugar on top of waiting for promises to resolve and returning promises from async functions, so if you wrote it in es5 with Promises being returned from the various functions, it'd be forward-compatible for when async/await becomes a thing.

[2015-07-30 14:18] divramod commented on #52
Another rebuild error:
[code]

[2015-07-30 14:43] summivox commented on #4
+1 for promises. They naturally suit the "async sequence of actions" paradigm.

[2015-07-30 14:51] drobati commented on #52
drobati@ATL-N-DEREKR ~
$ npm install robotjs
-

C:\Users\drobati\node_modules\robotjs>if not defined npm_config_node_gyp (node "c:\Program Files (x86)\nodejs\node_modules\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild )  else (node  rebuild )
gyp WARN install got an error, rolling back install
gyp ERR! configure error
gyp ERR! stack Error: connect ETIMEDOUT
gyp ERR! sta

[2015-07-30 14:56] octalmage commented on #52
Sorry guys! For the first two Linux needs a few packages:

sudo apt-get install libxtst-dev libpng-dev

I need to get the README updated.

For the Windows error I'm not completely sure.

[2015-07-30 15:11] drobati commented on #52
@octalmage I ran the command again. (The first time looks like some connection timeout.)

[code]

I got this. Looks like windows has some dependencies?

[2015-07-30 15:50] neilgoldman305 commented on #4
+1 for promises.

What about actions where you need to wait some time before doing the next action? Or until some condition is true, like successfully finding an image on the screen.

[code]

[2015-07-30 15:51] octalmage commented on #52
Looks like on Windows you need:
* Python (v2.7.3 recommended, v3.x.x is not supported.
* Visual Studio 2013 (Express works fine!).

[2015-07-30 15:54] itsashis4u commented on #52
@octalmage Thanks. It was resolved on linux by installing the mentioned packages. :+1:

[2015-07-30 16:00] drobati commented on #52
@octalmage I'll download VS13 Express. Already have Python 2.7.3.

[2015-07-30 17:44] Thr1ve opened #55 "Text Expansion"
Would there be any way to do text expansion with robotjs like you can with AutoHotkey?

I was able to get robotjs working with [electron](https://github.com/atom/electron/blob/master/docs/api/global-shortcut.md) so I could listen for global keypresses, but electron (and nw.js) only seems to be able to listen for key combinations, not key sequences.

It would be amazing if we could simply turn any

[2015-07-30 17:53] fohara commented on #55
@Thr1ve I haven't seen a node module, but there is [libuiohook](https://github.com/kwhat/libuiohook) , which could probably be wrapped with [nan](https://github.com/nodejs/nan) (or something), similar to how robotjs itself is designed.

[2015-07-30 18:25] danprime commented on #4
Is there thoughts on syntax for multiple key presses (e.g. if I needed to do CTRL SHIFT L)?

[2015-07-30 20:44] octalmage opened #57 "Create Windows Installer."
It would be awesome to have an easy Windows installer that installs all of the dependices, including Node.js if needed. This would let people that are just interested in the automation use RobotJS.

I want this project to be as accessible as AutoHotkey.

[2015-07-30 21:10] mwagstaff commented on #55
+1. Built-in text expansion capabilities similar to AutoHotkey would be a massive benefit.

[2015-07-30 21:17] octalmage commented on #55
I generally use nw.js for hotkeys but as you mentioned its lacking. I'm hoping they improve that because I don't think I want to include hotkey support in RobotJS. If I do work on it, it will be a separate module. I think I'm going to do the same for window management.

[2015-07-30 22:00] octalmage commented on #55
@Thr1ve but RobotJS can get the mouse position currently.

[2015-07-30 22:02] octalmage commented on #47
Looks like on Windows you need:

* Python (v2.7.3 recommended, v3.x.x is not supported.
* Visual Studio 2013 (Express works fine!).

These are required for node-gyp to work correctly.

https://github.com/TooTallNate/node-gyp

I'm working on getting the readme updated.

[2015-07-30 22:43] octalmage opened #58 "Domain Name."
I'm going to start working on branding and I'd like to find a good domain. This will later host the forums and possibly a blog.

On Twitter I have @robotjavascript, but robotjavascript.com is taken. And of course robotjs.com is taken. robotjs.io is open but it's a little pricy and I feel like I want something more creative. That's probably what I'll fallback on if I can't find anything else.

Mayb

[2015-07-30 23:01] octalmage commented on #4
@danprime multiple keypresses are implemented with keyTap. Something like

    robot.keyTap("c", "command");

Should work. I'll get the documentation updated soon.

Also keyToggle can hold keys down. So you can hold down control while clicking.

[2015-07-30 23:11] octalmage commented on #4
I guess we could just have sync and async versions of the functions. I'll at least start working on non-blocking functions using libuv in a branch.

[2015-07-30 23:39] octalmage commented on #55
@fohara thanks for the link! I'll try this library and if it works well, I'll turn it into a node module. It would be very easy.

[2015-07-30 23:49] fohara commented on #55
@octalmage excellent. I was able to compile and run the `demohook` example (`./configure --enable-demo`) from the repo on OS X and it seemed to work well.

[2015-07-31 01:00] octalmage commented on #55
Awesome! Can't wait to try it out.

[2015-07-31 01:01] Thr1ve commented on #55
@octalmage Completely agree on the separate module thing; sorry if I implied otherwise! In my mind, there would be a really simple, small, and separate module that would solely listen for any keyboard / mouse events and then emit them as a events / streams / observables / whatever.
Second, there would be a layer ( also separate from robotjs; totally with you re: keeping hotkeys separate ) that cou

[2015-07-31 01:10] octalmage commented on #55
Gotcha! I for sure will to try to replace each AHK feature with Node.js modules. If libuiohook works out we'll have a great start for key listening. I'll keep y'all updated!

[2015-07-31 01:20] Zero2020 commented on #58
How about botjs, or maybe autobot.js but then again that might not be where you want to go with it. I will keep thinking about it. This is my first time here, and when i seen that you were into autohotkey i was sold in helping if i can.

[2015-07-31 01:58] octalmage commented on #58
We're keeping the name RobotJS! I was looking for a domain name.

And I appreciate it!

[2015-07-31 03:45] Deltatiger commented on #57
It would be better to have an installer for windows than npm I guess. Especially after seeing the various installation bugs that are coming up (Not everyone prefers VS for development so they may not have it).

[2015-07-31 06:10] kshirish opened #59 "installing Robotjs in windows"
See the attached image, I am unable to install it on windows. Tell me if you need additional information about the steps.

![capture](https://cloud.githubusercontent.com/assets/5382293/9001723/b7b5a7e0-3778-11e5-93f3-9388398ccbe0.PNG)

[2015-07-31 12:46] Akkuma commented on #4
Here are some alternate apis that could address both.

[code]

[2015-07-31 15:37] steelbrain commented on #4
I was thinking about creating a typo-corrector in nodejs that observes text typed in every window a few days ago, Your project could serve as a base. It already provides a way to do keypresses, but does it provide a way to listen them?

[2015-07-31 15:45] Deltatiger commented on #4
@steelbrain as of now it doesn't support that feature. Since its a desktop automation tool there wouldn't be much of a use for event listening (that's my honest opinion). But if the feature is requested maybe it can be done. It all depends on @octalmage

[2015-07-31 15:47] steelbrain commented on #4
The README of the project states that the project started because there was no AutoHotKey for mac, and that's actually the basic usage of AutoHotKey that it transforms `brb` in to `be right back`. Really looking forward to have this implemented in here.

[2015-07-31 15:49] Deltatiger commented on #4
@steelbrain Sorry I am yet to try out AHK. Till yesterday was thinking it was only for Mac (or something similar)

[2015-07-31 20:07] zachatrocity opened #61 "Trigger Cursor style changes"
I was wondering if it would be possible to add the ability to trigger the different cursors like wait, pointer,  cross. I know in C++ for windows it can be done using the [Set Cursor](https://msdn.microsoft.com/en-us/library/windows/desktop/ms648393%28v=vs.85%29.aspx) function. I'm open to submitting a pull request I just wanted to check and see if that's even doable.

In linux it could possibly b

[2015-08-01 02:58] octalmage commented on #61
It's doable, but it think it would be better as a separate module. I'll take a look and see what I can put together.

[2015-08-01 03:02] octalmage commented on #5
I like it, but I really want a cute little robot. I think @mjchamplin is going to put something together.

[2015-08-01 07:55] Hypercubed opened #63 "Keyboard API complete?"
Great work getting this working on windows.  NPM install is now no problem for me.

I'm wondering if the keyboard api is complete (the readme indicates it is)?  In AutoHotkey the send function accepts a minilanguage like: "{End}Sincerely,{enter 4}John Smith"  Any plans to implement that in robotjs... or should write my own wrapper?

[2015-08-01 08:28] octalmage commented on #63
This is something we're discussing in #4. I think I want to implement something like this in Node and have it call the necessary C functions. Then you can run robot.keyboard.type("hello{enter}").

I'm not sure yet, still focusing on features. This will probably be the last step towards 1.0.0.

[2015-08-01 08:30] octalmage commented on #63
Also thanks! I'm so happy we got everything working.

By complete I just mean you can accomplish everything, the syntax is still up for debate.

[2015-08-01 09:39] octalmage commented on #59
It looks like you're using a pretty old version of node-gyp, could you try updating, then re-compiling?

Thanks!

[2015-08-01 09:42] octalmage commented on #57
Yeah having users install Visual Studio just to use your module is pretty insane. Some modules use node-pre-gyp for this, and I think I want to do it also. This way users can download pre-built binaries for at least Windows. I'll create a new issue to look into this.

[2015-08-01 09:45] octalmage opened #64 "Use node-pre-gyp."
Installing and compiling RobotJS requires Python and Visual Studio on Windows and this takes a while to get setup. Instead we can provide pre-built binaries that can be installed using npm. This will greatly improve the end-user experience.

[2015-08-01 09:49] octalmage commented on #64
#57 is related. This will cut down on the dependencies.

[2015-08-01 10:05] octalmage commented on #57
Having pre-built binaries will help, but I'd still like an installer to make the process really easy. I'd like it to have the option to add Node.js to the right click->new menu with the default script requiring the global RobotJS package. It could even install EncloseJS or nexe to allow users to easily compile their apps.

This is very similar to how AutoHotkey does things.

[2015-08-01 11:19] DirkHeinke commented on #28
This would also allow to build a tool for expanding text snippets, which currently e.g. [autokey](https://code.google.com/p/autokey/) can do.

Is a event/keyboard capturing planned for later or is it out of the scope of this project?

[2015-08-01 11:23] octalmage commented on #28
See #55, I don't think I want to include this in RobotJS but I am interested in developing it since Node.js is missing a good solution.

[2015-08-01 11:26] DirkHeinke commented on #28
Alright, sorry, I have somehow overseen that discussion. More modules makes sense to me. Good luck with it :)

[2015-08-01 11:27] octalmage commented on #28
No worries! At least you found this one. :p

Thanks!

[2015-08-01 16:04] 1j01 commented on #58
Domain | Price | Link
---------|----------|--------
robotjs.tk | FREE | [Get it now!](https://my.freenom.com/domains.php)
robotjs.ml	 | FREE | [Get it now!](https://my.freenom.com/domains.php)
robotjs.ga | FREE | [Get it now!](https://my.freenom.com/domains.php)
robotjs.cf | FREE | [Get it now!](https://my.freenom.com/domains.php)
robotjs.gq | FREE | [Get it now!](https://my.freenom.com/domains.ph

[2015-08-01 16:39] Deltatiger commented on #57
It all got fussy for me in the last post. We need more deliberation. First we would have to list out how we want to install it. Its better to provide both the binaries and the compilation process because I dont know what will go wrong in windows. If binaries dont work then the same installer will move on to a compilation of the code after installing all the required stuff. Just as a fail safe.

[2015-08-01 16:55] Deltatiger opened #66 "Blocking Delay function"
Some of the times I am having issues were I will have to wait to do something. Currently I am setting a SetTimeout function to achieve this delay. Since we are dealing with C modules why not add such a function to it ? It would use the Sleep in the C module. This will provide some level of code complexity reduction.

Though I may be wrong about it but this is a need that just cropped up.

[2015-08-01 18:18] octalmage commented on #4
@steelbrian this wasn't something I even planned to implement because I use aText for this on Mac and I don't have a need, but I started work on a separate module. See #55.

[2015-08-01 18:25] octalmage commented on #66
Every function should have a delay built in, and this resolved this issue for me on Mac. See #15. I would like to make this adjustable so a sleep isn't needed after each function, this is how AHK handles it. While I figure this out you can use this:

https://www.npmjs.com/package/sleep

.

[2015-08-01 19:27] octalmage commented on #55
@fohara did you encounter this error?

[code]
I tried adding it to the list of allowed accessibility apps, but that isn't helping.

[2015-08-01 19:41] octalmage commented on #59
I'm going to close this, if you're still having issues after updating please let me know!

[2015-08-01 19:41] #59 closed

[2015-08-01 19:42] octalmage commented on #52
I'm going to close this, if building fails after installing the requirements please let me know! I've updated the readme to link to the node-gyp readme:

https://github.com/TooTallNate/node-gyp/#installation

[2015-08-01 19:42] #52 closed

[2015-08-01 19:42] octalmage commented on #51
I just published RobotJS v0.2.2 which resolve this. If you're still having issues please let me know!

[2015-08-01 19:42] #51 closed

[2015-08-01 19:43] octalmage commented on #47
I got the readme updated to link to the node-gyp readme:

https://github.com/TooTallNate/node-gyp/#installation

if you're still having issues after installing the requirements please let me know!

[2015-08-01 19:43] #47 closed

[2015-08-01 19:44] octalmage commented on #66
I'm going to close this in favor of #14, let continue this conversation there!

[2015-08-01 19:44] #66 closed

[2015-08-01 20:18] fohara commented on #55
@octalmage ah yes, I did encounter that accessibility error. My short term solution was to add iTerm (or any terminal app) to the allowed list. There is probably a more intuitive way of granting permission for this, but I haven't looked into it yet.

[2015-08-01 20:19] octalmage commented on #55
Ah gotcha. This system is so silly. I had to remove and re-add iterm2.

[2015-08-01 20:25] fohara commented on #55
@octalmage yeah, there must be a programmatic way to handle this. I remember seeing this before, I think with Sikuli perhaps. There was some flag that prompted permission for accessibility, I'll see if I can find it.

[2015-08-01 21:09] octalmage commented on #55
This tool does it, we can look at the code:

https://github.com/jacobsalmela/tccutil

But yeah, libuiohook is so perfect. Just need to create an EventEmitter in V8 and we'll be good to go. Looking into this now.

[2015-08-01 21:56] octalmage commented on #55
It looks like emitting events isn't very straight forward but I figured it out. Woohoo!

[2015-08-01 22:59] fohara commented on #55
@octalmage nice! Looking forward to seeing how the event emitting works for this.

[2015-08-03 07:28] octalmage opened #68 "Throw error if mouse event is out of bounds."

[2015-08-03 15:38] octalmage commented on #24
I got double click working in all apps, but unfortunately it will require a separate function, at least for now.

On Windows the double click delay is customizable, which would be an issue, but using GetDoubleClickTime we can accurately send a double click.

I'll submit a PR for this soon.

[2015-08-04 00:34] nakosung opened #69 "bridge to image-processing"
It would be cool if image processing is enabled! (a bot for a game, an intelligent auto app QA agent)
Grabbing bitmap of screen would be a great starting point instead of repeating to get single pixel over region.

[2015-08-04 05:10] octalmage commented on #69
This is already in the works! See #13.

[2015-08-04 05:10] #69 closed

[2015-08-04 05:16] octalmage commented on #40
I'm going to close this in favor of #27.

[2015-08-04 05:16] #40 closed

[2015-08-04 06:57] gasolin commented on #17
should add a comment in README to help user setup build environment on ubuntu,

[code]

[2015-08-04 12:22] octalmage commented on #17
Yeah for sure, Windows and Mac need instructions also. I'll work on this today.

[2015-08-04 13:12] gasolin commented on #21
thanks!

[2015-08-04 15:15] maxbook commented on #58
it's so simple robotjs.io :D

[2015-08-04 15:15] maxbook commented on #58
And is available :)

[2015-08-04 18:35] nakosung commented on #69
:+1

[2015-08-05 02:57] #24 closed

[2015-08-05 03:40] octalmage opened #71 "io.js v3 support."
nan has been updated to v2 to support io.js v3, but it requires significant code changes.

[2015-08-05 16:52] cparker4486 commented on #2
The link for the Windows build, at the top of this page, goes to a 404.

[2015-08-05 17:44] octalmage commented on #2
Sorry  that branch was merged. Just install from npm!

[2015-08-06 04:16] dantheuber opened #73 "Key Toggles"
It is extremely common for people to want to send commands such as "Ctrl+v" to toggle a paste command. I am in need of doing this now in my project, Quicklip, and i'd love to use robotjs for this, tho it doesnt appear that the current API allows for it.

It would be extremely helpful to allow for an API like the following:

[code]

[2015-08-06 09:47] octalmage commented on #73
Hey @dantheuber!

This is currently possible using keyTap or keyToggle. Something like this:

    robot.keyTap("v", "control");

I'll make sure the wiki gets updated!

[2015-08-06 09:47] #73 closed

[2015-08-06 17:10] hortinstein commented on #57
In addition to the installer route, will you be pursuing dependency  bundling?  I am trying to figure out how to eventually bundle this into a [electron app](https://github.com/atom/electron)

[2015-08-06 17:14] octalmage commented on #57
For an electron app you would just need to copy the node_modules folder.

[2015-08-06 17:15] hortinstein commented on #57
right, but would anyone using it still need to have visual studio installed (for windows)?

[2015-08-06 17:17] octalmage commented on #57
Nope! That's only needed for compiling RobotJS. Once it's compiled the binary (robotjs.node) can be distributed without the dependencies.

[2015-08-06 17:20] hortinstein commented on #57
awesome!  Thank you for the quick response!  I will let you know if I ever get this project off the ground and maybe you can put it on your [projects page](https://github.com/octalmage/robotjs/wiki/Projects-using-RobotJS).  I have been toying with this idea forever and robotjs (along with a few other key libraries) solves huge barriers of entry that were keeping me from pursuing it.

[2015-08-06 17:26] octalmage commented on #57
No problem! And keep me updated. I'd love to see what you're making.

[2015-08-06 17:29] dantheuber commented on #73
Awesome, thanks octal! Glad the functionality was already there =)

Once i get it integrated, i'll add my application to your list of apps using robotjs!

[2015-08-06 17:53] octalmage commented on #73
No problem! Quicklip looks cool, I'm excited to see RobotJS integrated.

[2015-08-07 20:42] octalmage commented on #55
So I've made good progress on this, but the library outputs the copyright when it's included:

![](https://cloudup.com/cQ15P9lsNXO+)

Do you think I should contact the author to see if it's ok to remove it? Or just remove it? I don't want to release the project with this copyright notice, it's ugly.

[2015-08-07 21:10] fohara commented on #55
@octalmage good news on the progress! Regarding the copyright notice, you should be able to suppress it by building the lib with the `--enable-quiet` config, if I'm understanding [this](https://github.com/kwhat/libuiohook/blob/e055339c5efa8a66dcb1047bf4759474aed6004c/configure.ac#L194) correctly.

[2015-08-07 21:12] octalmage commented on #55
@fohara oh duh, thanks!

[2015-08-11 15:34] #14 closed

[2015-08-11 15:43] octalmage commented on #61
Unfortunately I'm having a difficult time finding a way to do this on Mac. I might still make this though, I want the ability to hide/show the mouse and that functionality could be apart of the same library.

[2015-08-11 15:57] octalmage commented on #63
I'm going to close this in favor of #4.

[2015-08-11 15:57] #63 closed

[2015-08-11 16:01] octalmage commented on #39
Hey! Sorry for the delay. I probably won't be able to look into this until I update my Mac, and I'm afraid to do this if it's going to break RobotJS. I'll see if I can get a VM going when I have time.

Thanks for the report!

[2015-08-11 16:04] octalmage commented on #39
Is there an error message or does the mouse just not move?

Are you running the OS in a VM or native?

Also if anyone else is running OS X El Captain could you confirm if you have the same issue?

[2015-08-11 16:08] octalmage commented on #32
So I did some work on ScreenCat and RobotJS worked fine! I used the `apm install` method.

@hugohil what command are you using to build/install?

[2015-08-11 18:52] matteocrippa commented on #39
I was running it on a native mac, so not VM.
But I can't help you anymore, I was forced to revert to 10.10

[2015-08-11 18:59] zachatrocity commented on #61
That would be awesome! Thanks for your hard work.

[2015-08-11 22:15] octalmage commented on #61
No problem! Thanks for the idea!

[2015-08-12 06:34] jaruba opened #76 "Strip unneeded methods"
Would it be possible to strip unneeded methods? (ie: keep only ``.getMousePos()``)

I'd try to use this in [Powder Player](https://github.com/jaruba/PowderPlayer) (NW.js App) in an attempt to fix chromium's mouse hovering issues.

I would only need to know when the mouse is outside the window (something that chromium itself has serious problems with), all other methods seem very intrusive for unre

[2015-08-12 10:26] hugohil commented on #32
I'm really sorry I didn't reply, I was busy at the time and this got out of my mind after :/

I just tested and thanks to your fix, it now works perfectly ! :+1:
Also, thank @Nedomas for your suggestions about rebuilding modules.

I'll soon test the packaging issue and close the issue if it worked :)

[2015-08-12 19:23] octalmage commented on #76
It's possible, just not really that easy or necessary.  Just don't use the other methods! :p

If you really want to do it you can remove the functions from src/robotjs.cc and remove the unrelated sources from bindings.gyp. Then run node-gyp rebuild.

Good luck!

[2015-08-12 19:23] #76 closed

[2015-08-13 01:19] octalmage commented on #32
Awesome! Sounds good!

[2015-08-16 18:56] maxdeepfield opened #77 "moveMouse() is broken on Windows 10"
[code]
This code must return { x: 10, y: 10 }
It returns  { x: 9, y: 9 }

Not always pos-1, for example if moveMouse(100,100) then getMousePos gives back 98,98

Windows 10 Build 10240 x64
NodeJS 0.12.7 x64
RobotJS 0.2.3 installed via npm

[2015-08-16 19:00] octalmage commented on #77
Hi Max!

Could you try putting a sleep between the two? I believe the mouse event is just taking longer on your computer. The tests confirm that getting and setting like that should work as expected.

[2015-08-16 19:03] maxdeepfield commented on #77
\node_modules\robotjs\test>node mouse.js
TAP version 13
 Get the initial mouse position.
ok 1 successfully retrieved mouse position.
ok 2 mousepos.x is a valid value.
ok 3 mousepos.y is a valid value.
 Move the mouse.
ok 4 successfully moved the mouse.
not ok 5 mousepos.x is correct.
  ---
    operator: ok
    expected: true
    actual:   false
  ...
not ok 6 mousepos.y is correct.
  ---
    opera

[2015-08-16 19:06] maxdeepfield commented on #77
[code]
It seems that mouse always moves somewhere to 0,0 coordinates.

[2015-08-16 19:07] octalmage commented on #77
Yeah those tests failing mean it's the mouse delay. :/

You could use RobotJS from GitHub which includes a setMouseDelay function. The default delay is currently 10ms and I knew this was going to be an issue.

[2015-08-16 19:10] maxdeepfield commented on #77
[code]
It seems like mouse always moves somewhere to 0,0 coordinates.

[2015-08-16 19:16] octalmage commented on #77
Hmm that's super odd! Thanks for trying that.

@deltatiger could you try the above code when you get a chance? It works in my VM, I wonder if it's a Windows 10 issue.

[2015-08-16 19:20] maxdeepfield commented on #77
I compiled robotjs from github master sources using node-gyp.
Sad, but it works same. :(

[2015-08-16 19:20] maxdeepfield commented on #77
I will try this on earlier Windows too.

[2015-08-16 19:26] maxdeepfield commented on #77
Interesting: moveMouse(1,1) moves mouse precisely on very left top corner (0,0)
I think this is not getMousePos problem, but moveMouse issue...

[2015-08-16 19:29] maxdeepfield commented on #77
[code]
This should not do anything, but it moves cursor a bit to left and top according to current position (epends from current mouse position distance from 0,0)

[2015-08-16 20:28] maxdeepfield commented on #77
SetCursorPos(point.x, point.y); instead of mouse_event in mouse.c works very nice.

[2015-08-16 21:03] octalmage commented on #77
Thanks that's good to know! I believe mouse _event is being deprecated anyway. I'll use this as an opportunity to test different mouse setting functions ( I believe there's 4 ways on Windows). If I remember correctly, SendInput works really well.

[2015-08-16 21:31] maxdeepfield commented on #77
I tested SendInput and it worked like mouse_event - weird 65535 divisions seems to be not so precise.

[2015-08-16 21:52] maxdeepfield commented on #77
I found solution: https://github.com/octalmage/robotjs/pull/78
This will work for SendInput too.

[2015-08-17 03:45] Deltatiger commented on #77
@maxdeepfield I think SendInput should be used in windows. It supports multiple input devices and is recommended by MS.
@octalmage I will test things out again in Windows 7 and 10. Just to check if things work out. Also will set up a branch on my repo to convert stuff to SendInput(Mouse and Keyboard). If that works out then it should be better.

[2015-08-17 08:26] maxdeepfield commented on #77
@Deltatiger agree, but SendInput also must use 65536.0f instead of 65536 or 0xFFFF

[2015-08-17 12:58] maxdeepfield commented on #77
Strange, but this 65536.0f correction doesnot work very fine using over remote desktop. Its is now going closer, but not so precise as SetCursorPos

[2015-08-18 09:27] octalmage commented on #77
I was afraid of that, since the current code works for some users.

[2015-08-18 12:02] jaruba commented on #76
I was sure you'd say that! :))

But my app is torrent related, there is enough paranoia from users when installing such apps. I can always play the "open source card" on these remarks, but it would also help to not have any intrusive methods in the code either.

Thanks for your help, it is greatly appreciated! :)

[2015-08-18 14:40] octalmage commented on #76
Ha I understand! I just had to say it.

Let me know if you need any help!

[2015-08-21 02:17] PowerWebsite opened #80 "Digital issue"
I want digital please

[2015-08-21 07:06] jekku opened #81 "Shift case not working in Linux"
I was planning to do a "Coding ghost" showcase which automagically recreates code in sublime given a directory of a code base.

It seems like
[code]

Outputs :
[code]

You can checkout

https://github.com/jekku/creeper/tree/issue_link/no_shifts_unix

[2015-08-23 15:46] dkrutsko commented on #77
The mouse code has some issues, first of all why is mouse_event being used instead of SendInput? According to MSDN mouse_event has been deprecated for quite some time. As for mouse movement why not use [SetCursorPos](https://msdn.microsoft.com/en-us/library/windows/desktop/ms648394(v=VS.85).aspx) [here](https://github.com/octalmage/robotjs/blob/d786b3ab94e48499f5f4b5da3b1d3846713ee768/src/mouse.c#

[2015-08-23 15:53] maxdeepfield commented on #77
As mentioned in discussion above - SendInput should be used, but this does not help in some cases, SetCursorPos working best for me.

[2015-08-23 15:56] dkrutsko commented on #39
I got the latest version of El Captain running, it turns out that there is some problem with [CGEventCreateMouseEvent](https://developer.apple.com/library/mac/documentation/Carbon/Reference/QuartzEventServicesRef/#//apple_ref/c/func/CGEventCreateMouseEvent), I'm in the process of figuring it out, will post when I find out more. It appears the mouse move is the only function having problems.

[2015-08-23 16:04] dkrutsko commented on #58
oh nice, robotjs.io is available for 50 bucks over at hover, I remember those used to cost closer to 80.

[2015-08-23 16:06] dkrutsko commented on #68
I'd argue it's almost better to let the OS take care of that.

[2015-08-23 16:09] dkrutsko commented on #61
This is a pretty cool suggestion by the way, thanks! Qt and maybe SDL would be good reference points if you're looking for a way to implement it.

[2015-08-23 19:08] brunocascio opened #82 "Media input/output ?"
Hi guys!

I have seen this project seemed like a good idea, as is well decoupled, to integrate management features such as microphone and speakers, so that people with disabilities can use them.

[2015-08-23 19:14] brunocascio commented on #82
An example of use, i say "Take an screenshot" and then take and screenshot.

[2015-08-23 20:32] dkrutsko commented on #57
I'm currently experimenting with shipping pre-built binaries through NPM. So far the tests have been positive, so positive in fact that I don't see a reason to use node-gyp or node-pre-gyp anymore. And frankly I don't see a reason for an installer, you should be able to install robotjs like any other package through npm and have it work on the target platform without any compilation steps or any d

[2015-08-23 20:43] dkrutsko commented on #13
You may be interested in using an [Int32Array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Int32Array). I found that a good solution is to create and store the image itself natively and for JavaScript, create a `getData` or `getPixels` function which returns a [TypedArray](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/TypedArr

[2015-08-23 20:50] octalmage commented on #57
Did you read my comments above? With an installer you have more control, that's something I need.

Using node-pre-gyp is the preferred way to distribute binaries. It falls back to building, and that's important to me.

[2015-08-23 21:00] octalmage commented on #82
Hey Bruno!

That falls outside the scope of this project, but check out  [node-speakable](https://github.com/sreuter/node-speakable). I've used this library and it works pretty good.

[2015-08-23 21:00] #82 closed

[2015-08-23 21:02] octalmage commented on #68
Error handling is always better, it can really help when you're debugging an application.

[2015-08-23 21:04] aequasi commented on #68
If the OS takes care of it, you can't handle it when it happens though.

[2015-08-23 21:05] aequasi commented on #82
Good call @octalmage

[2015-08-23 21:10] octalmage commented on #68
On Mac the OS will let you attempt to put the mouse anywhere without error, it just moves to the furthest position it can go. Having RobotJS complain when this happens will let the developer know when there's a potential issue, if they're setting the mouse offscreen there's likely a bug.

[2015-08-23 21:11] dkrutsko commented on #57
More control for what? perhaps I'm misunderstanding what the goals are. Also, you don't need that many binaries to support a large number of platforms. With just 6 binaries you're able to support about 90% of the operating systems out there assuming you're targeting node 0.12. And another 6 for 0.10. And node-pre-gyp probably won't help because if the user has to compile the binary themselves, it

[2015-08-23 21:17] octalmage commented on #57
I want a one click installer for new users, users without Node.js or npm. I also want to add RobotJS to the right click->new menu, and have the default script require a globally installed RobotJS package. The goal is to replace AutoHotkey and this would make the experience very similar.

[2015-08-23 21:23] octalmage commented on #57
It's just an idea, not sure if I'm going to do it but installers are easy to make.

[2015-08-23 21:30] mccxiv commented on #81
I was about to post a new issue, then saw this one.

I'm having the same exact problem on Windows 8.1.
Anyone savvy enough to understand what's going on?

[2015-08-23 21:31] brunocascio commented on #82
Okay, thanks! :)

[2015-08-23 21:32] dkrutsko commented on #57
Okay well, let's for a second say that node.js isn't already a one click install and installing robotjs globally doesn't get the job done. The idea here is to package a node executable, along with the prebuilt binaries and the robotjs library. You're going to need a lot more features if you plan to replace AutoHotkey. For instance, you'll probably need to include other support libraries which may

[2015-08-23 21:44] dkrutsko commented on #57
Also good news, I just found out that you can upload node files to NPM directly. I always thought they disallowed that which is why everybody was using a CDN. But apparently it works, my only question is why haven't I come across anybody doing this before. Am I missing something? Assuming a library is targeting Node 0.12.x for windows, why not just store the addon on NPM?

[2015-08-23 21:47] 1j01 commented on #58
@dkrutsko or [$32.88/year at namecheap](https://www.namecheap.com/domains/registration/results.aspx?domain=robotjs&tlds=io)

[2015-08-23 21:55] dkrutsko commented on #58
@1j01 Oh nice, even better! Though I *might* have been suckered into paying the extra twenty bucks for the convenience of having all my domains in one place. robotjs.net also appears to be available. I wish I was this lucky with my project domains.

[2015-08-23 21:56] aequasi commented on #58
+1 for robotjs.io

[2015-08-23 21:57] octalmage commented on #57
Using node-pre-gyp lets you easily automate the build process using TravisCI and AppVeyor. I think bumping the project version and publishing to npm isn't as clean.

[2015-08-23 22:35] dkrutsko commented on #57
It's not as clean but it gives you the most control over your build environment. For instance I have 12 VM's setup specifically to test and deploy my project with tightly controlled build configurations to ensure that it'll work on the largest number of systems. Although TravisCI and AppVeyor may make things easier, it disconnects us from what is arguably the most important step in the process. Al

[2015-08-24 06:17] jekku commented on #81
up up up

[2015-08-25 17:04] Deltatiger commented on #77
@maxdeepfield I tried tweaking stuff a bit. Try this out.
[code]
I still am using the mouse_event but this gives me close to accurate readings.

[2015-08-25 17:43] Deltatiger commented on #68
@octalmage Is it easier than the user using a getMousePos ? . I personally will let the user handle this situation. Or atleast provide an option for him to force such actions. (There maybe intentional use. Though I cannot come up with a solid example now.)

[2015-08-25 17:47] Deltatiger commented on #13
This should be the next priority. Capture screen will allow for more projects to adopt RobotJS. (Also my mini project of a remote desktop )

[2015-08-25 17:54] Deltatiger commented on #77
@octalmage  @maxdeepfield  So the issue was mouse_event was dealing with the screen by normalizing it between values 0 to 65536. Very inaccurate if you ask me. The rounding issue fixes it a bit. But to completely fix it we would have to migrate to SendInput. That deals with pixels directly.

[2015-08-26 16:56] Deltatiger commented on #81
I can't even get robotjs to install in linux ;/ Some problem with nan 1.3.0 ( or 1.3.1 ). Will have to look into it more.

[2015-08-29 18:58] ewnd9 commented on #32
I've got this error on `./node_modules/.bin/electron-rebuild`

[code]

Anyone encountered something similar? (Ubuntu 14.04, node v0.10.37)

[2015-08-31 21:00] mjchamplin commented on #5
##Full Disclosure, I hadn't looked at this thread before I started. I could definitely expand on this and make it 3d / isometric if that's what we're into.

![robot](https://cloud.githubusercontent.com/assets/1672613/9590213/dd83fff6-4ff8-11e5-8359-25e6be7ce522.png)
The original, full-sized robot.

![logobot](https://cloud.githubusercontent.com/assets/1672613/9590283/4fc881ea-4ff9-11e5-9245-818227

[2015-09-02 09:11] DomiStyle commented on #77
Has there been any update to this?
I had issues with my mouse drifting when using moveMouse on Windows 10.

    var mouse = robot.getMousePos();
    robot.moveMouse(mouse.x, mouse.y);

This will make your mouse drift to the top left corner when running it in a loop.

[2015-09-02 11:37] shubhamsaxena123 commented on #57
Hi,
I am trying to use Robotjs which executes "node-gyp rebuild" in the script. But unfortunately it does not work for Ubuntu 14.04. Then I tried in Windows 8 and used your "node-pre-gyp" but its still not working. I am attaching the screenshot for the logs of the "node-gyp rebuild" command in cmd(Windows).

Thanks for the support. :)

![node-gyprebuild](https://cloud.githubusercontent.com/assets/

[2015-09-02 14:17] koustuvsinha commented on #81
yes trying to print ! will output 1 in linux..

[2015-09-03 00:55] jekku commented on #81
@octalmage Anyonne still maintaining robot.js?

[2015-09-03 04:01] aequasi commented on #81
@jekku Yes, he is.

[2015-09-04 02:40] geekoftheweek commented on #81
I'm having the same issue on Windows 10.

[2015-09-04 03:01] Deltatiger commented on #81
@geekoftheweek I just got robotjs to install on Ubuntu 12.04. Will check the issue there and then move to Windows 10. ETA 2 days.

[2015-09-04 03:06] Deltatiger commented on #77
@DomiStyle This is an issue with Windows API that is being used currently. The problem has already been identified. Will send a PR soon so that it can be fixed.

[2015-09-04 03:12] octalmage commented on #81
Sorry guys, big project at work. Will test this when I have time.

[2015-09-04 06:19] DennisBecker commented on #64
Would like to see that, I also want to use robotjs in an electron app for better use with other functionality where AHK won't fit.

[2015-09-06 04:29] Deltatiger commented on #81
Can anyone confirm if the reverse ever happens ? When you use ``` robotjs.typeString("123")``` and get ```!@#```. Just curious.

The problem is that all keys are sent as keyboard input signals. So just like when you type !@# you need to hold down shift. That is not being handled as of yet. This is the case for characters !@#$%^&* (i.e. From 1-8). This fix wont be pretty or easy. I am currently wor

[2015-09-06 05:58] octalmage commented on #81
Yeah that's messy, thanks for looking into this @Deltatiger! For now using `keyTap` is a good workaround. For example:

[code]

[2015-09-06 06:07] octalmage commented on #81
Also @Deltatiger, I tested `robot.typeString("123");` in Ubuntu and it works as expected.

[2015-09-06 06:48] fritx opened #83 "'PrintScreen' keytap?"
Excuse me. I just noticed the keycodes are very limited in robot.js
How could I make a keyTap with 'PrintScreen' (on Windows)?
Also, I just hacked into the code and changed something but it didn't work..

[code]

My C/C++ is very poor though..

[2015-09-06 22:59] jekku commented on #81
Alright then. Just inform us in the version bump when it gets fixed will do the shift for now :)

[2015-09-06 22:59] #81 closed

[2015-09-09 02:45] Kickball commented on #58
+1 for robotjs.io

[2015-09-09 09:38] deamme opened #84 "Listening for mouse and keypress events"
Can I listen for mouse and keypress events and do something accordingly?

[2015-09-09 09:42] octalmage commented on #84
I don't think I'll include this in RobotJS, but I'm considering making a separate module. See #55.

Personally I use nw.js or Electron for this. You can have global hotkeys with both projects.

[2015-09-09 09:42] #84 closed

[2015-09-10 21:03] petre2dor commented on #61
+1 for the idea

[2015-09-10 21:09] petre2dor commented on #58
+1 for robotjs.io

[2015-09-10 21:14] petre2dor opened #85 "Any change for adding mouse wheel control?"
`mouseWheel(int)` where `int` is the number of notches and it can be negative for scrolling away from the user,

[2015-09-11 03:29] ChALkeR commented on #71
Adding to the list: https://github.com/nodejs/node/issues/2798 (Node.js v4.0.0 support).

[2015-09-11 03:55] octalmage commented on #71
Thanks! I'll check this out tonight. Should be pretty painless.

[2015-09-11 05:07] Deltatiger commented on #85
Already in the works. Check #50

[2015-09-11 06:01] octalmage commented on #85
What @deltatiger said. I'll get that merged.

[2015-09-11 06:01] #85 closed

[2015-09-12 23:46] petre2dor commented on #73
There are plenty keyboard shortcuts with more that 2 keys. Is there a way to run commands like
[code]
?

[2015-09-14 12:58] deamme commented on #84
@octalmage I see - Can NW.js and Electron detect mouse events?

[2015-09-14 13:00] octalmage commented on #84
No, only key-presses (hotkeys).

[2015-09-14 15:32] deamme commented on #84
Okay, thanks!

[2015-09-14 23:03] octalmage commented on #84
No problem! I forgot to mention that RobotJS can get the mouse position.

[2015-09-15 18:43] jperasmus commented on #71
Hi, adding a friendly +1 for node v4 support.

[2015-09-16 04:33] Deltatiger commented on #83
The keycode is ```VK_SNAPSHOT```. I have not tested it yet but that should be the key. You could map it to a enum value like K_PRINTSCREEN then use it accordingly.

[2015-09-16 06:15] fritx commented on #83
Wow. It works. Will this be included in this library in the future?

[2015-09-16 06:19] Deltatiger commented on #83
@fritx  Robotjs is meant to be platform independent. I am not sure if this feature is present in all platforms. That parts needs to be cleared up (whether this kind of platform specific things can be added or not) @octalmage..

[2015-09-17 18:13] bradparks opened #88 "[multi-monitor] moveMouse wont move to negative position on mac"
Hey... I use getMousePos to get the mouse position, and it returns negative values sometimes (multiple monitors above my laptop monitor).

I then try and use robot.moveMouse(800, -954) for example, and it only moves to 800, 0.

[2015-09-18 04:38] Deltatiger commented on #88
@bradparks The negative mouse coordinates happen in a multi monitor setup. Basically anything left of your primary display may have negative coordinates.
As for the failing moveMouse did you try anything less than -954 ? If you had got (500 , -300) then you can go negative only on the y axis. Also you can only go till the screen max.

If you could provide more details on what you got from moveMous

[2015-09-19 14:34] octalmage commented on #83
I'm conflicted about platform specific features (see #34), but for something like this I'd say it's ok. This is something people are going to want to do, and if we don't implement it in RobotJS there won't be a good solution. My main goal with RobotJS is to fill in the gaps.

[2015-09-19 15:18] octalmage commented on #13
Agreed, I would like to implement this since there's a special way I want it implemented (see bitmap branch). I'll start on this after #87 is merged and RobotJS is completely updated. This is going to take some extra work on Windows due to the libpng and zlib dependencies, which is the main reason I put it off. These libraries are required for disk related functionality, and createMMBitmapFromStri

[2015-09-19 17:05] fritx commented on #83
Thanks! Expecting something happens. Or any help that I can do?

[2015-09-19 18:38] octalmage commented on #83
I'll spin up my VM and get it implemented now!

[2015-09-19 19:34] #83 closed

[2015-09-20 00:15] fritx commented on #83
Cool! Awesome thanks :+1:

[2015-09-20 01:58] rogeru commented on #71
When do you plan to add node v4 support?

[2015-09-20 05:44] octalmage commented on #71
See #87.

[2015-09-22 00:28] petre2dor opened #91 "[Question] Is there a way to press media keys like play/pause?"
Most keyboards have them and, at least, Linux and Windows supports them by default.

[2015-09-22 13:12] octalmage commented on #91
This isn't currently supported, but it's possible! I'll work on getting the keycodes added.

[2015-09-25 01:21] juliuscarvajal opened #93 "[Question] Are there robotjs events to detect mouse/keyboard (or any input) idle or not idle?"
Something like in this repo:
https://github.com/jojobyte/idlerun

[2015-09-26 02:04] octalmage commented on #93
Currently you can only read the mouse position, and this is all I have planned for now.

See #55 for discussion.

[2015-09-26 02:04] #93 closed

[2015-09-26 10:14] lassdas opened #94 "[windows] nan.h compile errors"
I tried to install robotjs via
npm install robotjs
but i got errors, is taht my fault?

https://gist.github.com/lassdas/af5dcc7cb895f106fd57

My setup:
Windows 7 Home Premium
Visual Studio Community 2013
Python 2.7.3

21ce43c06637e3b98e6f35fbcffc5965e3c2f1bc

I hope you can help me ;)

[2015-09-26 10:16] octalmage commented on #94
Hi @lassdas,

Node.js v4 isn't supported yet. See #87

I hope to get everything updated this week.

[2015-09-26 10:16] #94 closed

[2015-09-26 11:02] sungwoncho commented on #71
+1 please

[2015-09-28 22:56] sungwoncho opened #95 "Segmentation fault while typing in non-English"
Using 0.2.4 on OSX Yosemite 10.10.3.

Segmentation fault is thrown every time I use `keyTap` method while the keyboard input is set to Korean.

To reproduce:
1. Set keyboard input to 2-Set Korean.
2. Save this file and run it while keyboard is set to Korean.

[code]

Strangely, though, if you run the above code in the node console, it works. Any suggestions?

[2015-09-28 23:09] sungwoncho opened #96 "typeString issue with Parallel Desktop running Windows 7 guest"
All characters in the argument of `typeString` is typed as 'a' on Windows 7 guest on Parallel Desktop. RobotJS is running on OSX.

[code]

The above code results in `aaaaaaaaaaa` on Windows 7 guest.

[2015-09-28 23:26] sungwoncho commented on #58
robotjs.io sounds perfect.

[2015-09-29 17:56] octalmage commented on #58
Agreed! I'll make it happen!

Thanks for the input everyone.

[2015-09-29 19:35] octalmage commented on #71
The master branch has been updated to support Node.js v4 and io.js v3.

Please test it and let me know how it works!

[2015-09-29 19:45] abhishekgarg120 commented on #71
Thank you @octalmage for this amazing project. cheers.

[2015-09-30 01:40] #58 closed

[2015-09-30 21:07] octalmage commented on #95
I'm not sure I understand. When does it crash?

[2015-10-01 03:39] sungwoncho commented on #95
To reproduce crash:

Save the following as `crash.js`:

[code]

Run `node crash.js` while keyboard is set to 2-Set Korean.

Haven't tested in other non-English languages.

[2015-10-04 13:07] octalmage opened #97 "scrollMouse doesn't work on Windows XP."
See #50. I commented the code out in 062be3f6fc249e42dbcbfdc6aa6f996cd3725274 until we can figure it out.

cc: @Deltatiger

[2015-10-04 13:15] octalmage commented on #71
RobotJS [v0.3.0](https://github.com/octalmage/robotjs/releases/tag/v0.3.0) has been released and published to npm!

This issue has been resolved.

[2015-10-04 13:15] #71 closed

[2015-10-04 13:30] octalmage commented on #88
The issue is that the code doesn't have explicit multi-monitor support, so anything that works is kind of on accident. I don't think this is an issue on Windows, but for Mac I'll need to look into it.

[2015-10-05 06:11] octalmage opened #98 "Add tests for keyboard functions."
Currently the tests are limited, because there isn't a way to test things like mouse clicks, or key strokes. I'd like to create a GUI application that ties into our tests, that can detect and report keyboard and mouse events. This will be a separate project.

[2015-10-05 06:43] #80 closed

[2015-10-06 14:35] octalmage commented on #68
Yeah I'm going to close this for now, I do think it should be implemented, but it breaks whatever multi-monitor support we have.

[2015-10-06 14:35] #68 closed

[2015-10-12 07:43] octalmage opened #100 "Fix keyToggle to use "up"

[2015-10-12 07:47] octalmage opened #101 "Fix keyToggle to use "up" and "down"."
Currently it uses 1 for down, and 0 for up.

[2015-10-12 15:46] octalmage commented on #100
Oops!

[2015-10-12 15:46] #100 closed

[2015-10-12 15:50] #101 closed

[2015-10-15 08:41] willwade opened #103 "Capture input actions (key and mouse)"
Is there any plans to develop a hook system so we can map one keypress to another? (this may be useful.. http://stackoverflow.com/questions/5006821/nodejs-how-to-read-keystrokes-from-stdin )

[2015-10-15 15:36] octalmage commented on #103
Not at the moment, not in RobotJS at least. I use nw.js or electron for my hotkey needs. I'm considering writing a separate library though, see #55.

[2015-10-15 15:36] #103 closed

[2015-10-15 15:39] octalmage commented on #55
I ran into a block with the c++ EventEmitter. I'm going to rewrite the library with a getKeyState type function. Then I'll figure out the events.

[2015-10-18 04:56] octalmage opened #105 "Use Appveyor for Windows testing."
Currently we only have automated tests for Linux. This will also help when we work on #64.

[2015-10-18 22:12] vshymanskyy commented on #91
Just wanted to post same idea. Thanks! ;)

[2015-10-20 01:17] octalmage commented on #98
Maybe someone more familiar with TravisCI can answer this question:

Is there a terminal window open that runs the tests? I'm wondering if I could use a library like blessed to create inputs and buttons to test the mouse clicks and keystrokes.

[2015-10-20 11:46] vshymanskyy commented on #57
I would like to vote for this feature.
Installing on windows should be "single click". This will significantly boost usage of the module.

[2015-10-20 11:48] octalmage commented on #57
Agreed! I've got some ideas for how to set this up.

[2015-10-22 18:36] insanity54 opened #107 "robotjs fails on Trisquel"
os: Trisquel GNU/Linux 7.0, Belenos
node version: v4.1.1
robotjs version: 0.3.1

Problem: I get an error when requiring robotjs.

Here's `test.js`

[code]

When running `node test.js`-

[code]

Am I doing something wrong?

[2015-10-22 19:03] octalmage commented on #107
Hi @insanity54!

Do you have the requirements for Linux installed? Specifically the `libxtst-dev` and `libpng++-dev` packages. See: https://github.com/octalmage/robotjs#installation

[2015-10-22 23:15] insanity54 commented on #107
yessir I have both of those installed.

I just noticed that using node v0.10.40, there is no error and test.js runs without errors. Also I tested the first example in README.md with the mouse sine wave movement against both node versions v0.10.40 and v4.1.1.

4.1.1 results in the `undefined symbol: _ZN2v86Object3NewEv` error, while 0.10.40 does not.

[2015-10-23 01:02] ashleydavis opened #108 "The typeString function doesn't work for special characters selected with the SHIFT key under Windows"
The typeString() function can't handle special characters that were selected via the SHIFT keys.

It works OK for alphabetical characters both upper and lower case.

Example:

[code]

Output
[code]

The timeout gives you 5 seconds in which to select a text box. This will then insert semicolons into the focused text box.

After investigating this further it appears that any special character that i

[2015-10-23 04:24] hortinstein commented on #57
cant wait to see, this will make it much easier for me to proceed with my use case.  Thanks!

[2015-10-23 04:50] ashleydavis commented on #108
I've traced this problem to the function `MMKeyCode keyCodeForChar(const char c)`. It calls VkKeyScan which converts a character to a key code. The returned key code contains the modifiers (eg SHIFT in my case) but the modifiers are ignored because they are not processed into the (presumably cross-platform) format that Robotjs expects.

[2015-10-23 04:53] ashleydavis commented on #108
I've submitted a pull request #110 to fix this issue.

[2015-10-23 15:07] hortinstein commented on #105
would love to see this!

[2015-10-23 16:25] happilymarrieddad opened #111 "Failed to install on Windows 7. Failed to locate "CL.exe""
Hi, I installed visual studio 2015, the sdk and python but it says I'm missing the path to the WindowsSDKDir... which is weird because I installed the SDK from the wiki page. Do I need to add something to the windows environmental path or something? Thanks!
![capture](https://cloud.githubusercontent.com/assets/6416323/10698872/6e65d170-7970-11e5-9067-ebd0188eea5a.PNG)

[2015-10-23 21:23] Zeukkari commented on #61
+1

[2015-10-23 22:14] maxogden opened #112 "failed to build on raspberry pi"
heres the build log: http://pastebin.com/B9mXbH6j

[2015-10-24 11:36] insanity54 commented on #107
Hmm, actually I'd like to look into this a little more. I'd like to get robotjs running with a more recent version of node. What's _ZN2v86Object3NewEv? Got any clues? I'll do some digging.

[2015-10-24 12:03] octalmage commented on #107
I'm pretty sure it's the compiled version of a nan function.

[2015-10-24 12:25] octalmage commented on #112
Looks like this is the issue:

[code]

Can you update the compiler?

[2015-10-24 12:29] octalmage commented on #111
Run one of the following commands depending on your architecture:

[code]

The node-gyp readme has some other tips, but I believe the above should resolve this.

https://github.com/nodejs/node-gyp#installation

Let me know if this helps!

[2015-10-24 12:30] octalmage commented on #107
I'm guessing that nan hasn't be updated to support 4.1.1 yet, maybe use 4.0.x for now?

[2015-10-24 12:34] octalmage commented on #107
Actually what version of nan do you have installed? Try 2.1.0! I'll try to test some things later today.

[2015-10-24 16:31] maxogden commented on #112
Ah good catch. I'll give it a shot.

[2015-10-24 18:42] octalmage commented on #105
I got RobotJS building in the appveyor branch, but the tests are failing due to #77. Doesn't feel right to change the tests, so I'll wait till we have that issue resolved.

[2015-10-24 20:19] insanity54 commented on #107
Oh gotcha, http://npmjs.org/package/nan.

I'm running nan 2.1.0 since that's what robotjs v0.3.1 pulled in. In robotjs's package.json the nan dependency version is, "^2.0.9" so I thought to try exactly 2.0.9 and edited robotjs's package.json to depend on nan, "2.0.9".

Installing nan 2.0.9 got robotjs up and running with node 4.1.1. I wanted to verify this by reproducing the original problem, so I

[2015-10-24 23:01] insanity54 commented on #107
Anyway, I have something that works so I'm happy. Thanks for your help, octalmage

[2015-10-25 02:01] octalmage commented on #107
It seemed like maybe nan wasn't completely installed, since a function defined in the library was missing. Very strange! Please let me know if you encounter this again.

[2015-10-25 02:01] #107 closed

[2015-10-25 02:05] octalmage commented on #77
Should we maybe use SetCursorPos for now? I would like to get #105 finished and this is blocking it.

[2015-10-25 02:07] octalmage commented on #77
Actually I'm going to go ahead and merge the appveyor branch. This is broken so the tests should fail.

[2015-10-25 02:50] octalmage commented on #77
Thanks to AutoHotkey, I got it! Looks like they went through the same thing we did:

https://github.com/Lexikos/AutoHotkey_L/blob/a0bc036d4f09825b3478f14ffcaca11c782782e0/source/keyboard_mouse.cpp#L2447

Man I LOVE open source.

Anyway, this needs more testing but I'm going to merge it soon.

[2015-10-25 03:16] octalmage commented on #77
We can switch to SendInput later, it should be easy now that we have the conversion down. I'll open a new issue for this.

[2015-10-25 03:19] octalmage opened #115 "Use SendInput instead of mouse_event."
[mouse_event](https://msdn.microsoft.com/en-us/library/windows/desktop/ms646260(v=vs.85).aspx) is deprecated, so [SendInput](https://msdn.microsoft.com/en-us/library/windows/desktop/ms646310(v=vs.85).aspx) should be used instead!

#77 is related.
cc: @Deltatiger

[2015-10-25 03:20] #77 closed

[2015-10-25 03:20] #105 closed

[2015-10-25 03:46] octalmage commented on #112
Awesome let me know! I know for TravisCI I needed g++-4.8 and gcc-4.8, then I needed to set the `CXX` environment variable to `g++-4.8`, so maybe try that.

[2015-10-25 17:15] octalmage commented on #77
@maxdeepfield could you confirm if the code in the master branch resolves this for you? In my tests moveMouse was accurate.

[2015-10-25 20:07] octalmage commented on #98
I'm trying the above method in the keyboard-tests branch and I'm stuggling to get it working. It's failing for TravisCI and AppVeyor. It works on my local machine though.

[2015-10-25 20:41] octalmage commented on #98
I'm giving up for now. I'm thinking that I'll need to open a new terminal window or something, so there's an actual GUI. Idk, this is uncharted territory.

[2015-10-26 09:31] Qix- opened #116 "Build fails on OSX"
[code]

I even tried `npm i nan` on its own to no avail. Running on El Capitan.

[2015-10-26 09:46] DomiStyle commented on #77
@octalmage Works fine for me now.

[2015-10-26 09:49] octalmage commented on #116
Does the nan directory exist in the robotjs node_modules directory?

[2015-10-26 09:51] octalmage commented on #77
Awesome thanks @DomiStyle! I'll release a new version later today.

[2015-10-26 16:41] Qix- commented on #116
No, it wouldn't; NPM@3 onward has flat module systems. That could be it. I'm not able to confirm since the build fails, thus robotjs doesn't appear in node_modules to begin with.

[2015-10-26 17:41] RainmanNoodles commented on #116
FWIW, I'm also seeing the same issue, so it's not an isolated thing. (node 4.2.1/node-gyp 3.0.3/npm 3.3.9)

[2015-10-26 17:43] octalmage commented on #116
Alright, I know what needs to be done. I'll submit a PR.

[2015-10-26 17:55] octalmage commented on #116
#117 should resolve this,  could you try building RobotJS from the [dynamic-nan-include](https://github.com/octalmage/robotjs/tree/dynamic-nan-include) branch?

Thanks!

[2015-10-26 18:07] RainmanNoodles commented on #116
Using `npm install git://github.com/octalmage/robotjs#dynamic-nan-include` gives me this error:

      CXX(target) Release/obj.target/robotjs/src/robotjs.o
    ../src/robotjs.cc:76:16: error: cannot initialize a variable of type 'MMMouseButton' (aka 'CGMouseButton') with an rvalue of type '_MMMouseButton'
            MMMouseButton button = LEFT_BUTTON;
                          ^        ~~~~~~~~~~

[2015-10-26 18:08] Qix- commented on #116
Same thing here.

[code]

[2015-10-26 18:25] octalmage commented on #116
Hmm, must be an El Capitan thing. It builds for Node v4.2.1 without issue. I'll have to find a way to test and work on this, it may be a couple of days. Sorry!

[2015-10-27 12:43] jazzzz commented on #116
I had the same build error on Windows 10, it is fixed with the dynamic-nan-include branch!

[2015-10-27 15:18] octalmage commented on #116
Awesome! I'll get it pushed out today with #114.

[2015-10-27 23:25] SimulatedGREG commented on #52
Sorry to open this back up, but here's my rebuild error. I'm assuming this has to do with the newer version of XCode? I'm on version 7.1 currently and have Command Line Tools installed. I've tried a couple different node versions. v0.12.7 works fine, but I have other dependencies that need v4.x.x. The error below is running with v4.0.0.

[code]

[2015-10-27 23:28] octalmage commented on #52
See #116, this is a new issue I'm looking into!

[2015-10-27 23:35] octalmage commented on #116
I'm so curious what has changed here. Is it the compiler? I feel like it has to be. What version of Xcode are y'all running?

[2015-10-27 23:39] octalmage commented on #116
It has to be gcc/g++, here's what I have:

[code]

What versions do y'all have?

[2015-10-27 23:40] SimulatedGREG commented on #116
El Capitan 10.11.1 & Xcode 7.1 (7B91b)
```xcode-select -v``` gives me version 2343, if that makes any difference

[2015-10-27 23:52] octalmage commented on #116
@SimulatedGREG Could you check your gcc/g++ version?

Thanks a ton!

[2015-10-27 23:57] SimulatedGREG commented on #116
This?
[code]

[2015-10-27 23:58] octalmage commented on #116
Yes thanks! And could you run `g++ -v`?

[2015-10-27 23:59] SimulatedGREG commented on #116
Looks the same...
[code]

[2015-10-28 00:04] octalmage commented on #116
Hmm, I thought I was on to something. I'll set up an El Capitan VM now.

[2015-10-28 00:12] Qix- commented on #116
Hmm, first thought is that you shouldn't be relying upon GNU's compilers on OSX, because they're usually mapped to clang which can have different semantics. Should be looking at clang/clang++.

That being said:

[code]

[2015-10-28 00:14] octalmage commented on #116
Yeah I'm having a hard time imaging exactly what has changed. I don't want to update my main OS and not be able to work on RobotJS, so I'm trying to get a VM going.

[2015-10-28 00:22] octalmage commented on #116
And why does Node.js v0.12.7 build? Does node-gyp use different build tools here? I'm looking into this now.

[2015-10-28 00:26] SimulatedGREG commented on #116
That was my main question, how in the world does v0.12.7 work.

[code]

[2015-10-28 00:34] octalmage opened #118 "Build fails on OS X El Captain."
Multiple users are reporting that RobotJS is failing to build on OS X El Captain.

Here's an example error:

[code]

See #116 for more details.

[2015-10-28 00:35] Qix- commented on #116
This is why I suspect it's a Nan issue.

[2015-10-28 00:35] octalmage commented on #116
Since the original issue has been resolved, I created #118 to address the El Capitan issue.

Thanks for the help guys!

[2015-10-28 00:38] #116 closed

[2015-10-28 01:35] octalmage commented on #77
v0.3.2 published to npm which fixes this issue.

[2015-10-28 01:36] octalmage commented on #116
v0.3.2 published to npm which fixes this issue.

[2015-10-28 15:41] mustuni1 opened #119 "Error: Module version mismatch. Expected 46, got 14."
I am trying to use robotjs in an electron app, and am receiving this error when I require the library:

    Uncaught Exception:
    Error: Module version mismatch. Expected 46, got 14.
    at Error (native)
    at Object.module.(anonymous function) (ATOM_SHELL_ASAR.js:137:20)
    at Object.module.(anonymous function) [as .node] (ATOM_SHELL_ASAR.js:137:20)
    at Module.load (module.js:355:32)

[2015-10-28 19:02] ChrisAntaki commented on #77
Thanks for fixing this @octalmage! :+1:

[2015-10-28 19:05] octalmage commented on #77
Of course! That's why I'm here!

[2015-10-28 21:37] octalmage commented on #119
Usually this means the module wasn't compiled for electron, or the correct version of electron.

[2015-10-28 21:40] octalmage commented on #119
See this document:

https://github.com/atom/electron/blob/master/docs/tutorial/using-native-node-modules.md

Let me know if this helps!

[2015-10-28 23:22] deepajonnala opened #120 "Using Command+Shift+G key in Mac using Robotjs"
Hi Octalmage,

I am pretty new to robots and have been working on Automating the upload file functionality lately.
i was following the API's provided and could pretty much understand the Key functions and could implement the same.
But one thing where i am blocked and could not understand is how do we do the keyboard operation "Cmd+shift+g" sequentially using robots????

I tried below things but no

[2015-10-29 09:04] joker1t opened #121 "Failed to install on Windows 7. Загрузка компонента Visual C++ "VCBuild.exe" невозможна."
![untitled-2](https://cloud.githubusercontent.com/assets/11577819/10814170/813f3cd8-7e3d-11e5-9557-c5824b61a510.jpg)

[2015-10-29 13:39] joker1t commented on #121
Solution is to set Path Environment C:\Program Files (x86)\Microsoft Visual Studio 8\VC\vcpackages

[2015-10-29 13:40] joker1t commented on #121
So, next problem is..

![image](https://cloud.githubusercontent.com/assets/11577819/10819897/1659364a-7e64-11e5-8f42-619caa0e8e1a.png)

[2015-10-30 16:12] FilmKnurd commented on #118
Just ran into this on Yosemite as well. Fixed it by ensuring xcode command line tools were installed.

[2015-10-31 20:49] RainmanNoodles commented on #118
@FilmKnurd Installing the command line tools does not fix the issue on El Capitan (they were already installed when the error was produced). Are you sure you had the exact same error messages, or did installing the tools fix a different error?

[2015-11-02 04:50] octalmage commented on #118
@Qix- @RainmanNoodles @SimulatedGREG I just updated to El Captain and I was able to fix this. The fix is in the branch `el-capitan`.

https://github.com/octalmage/robotjs/tree/el-capitan

I need to test a few things before I merge, like backwards compatibility, but let me know if this works for you.

Thanks guys!

[2015-11-02 05:28] DmitryAuine opened #122 "Can I take a screenshot?"
If I cannot, can you implement it?) It will be useful feature

[2015-11-02 05:47] octalmage commented on #122
It's in the works! See #13.

[2015-11-02 05:47] #122 closed

[2015-11-02 06:10] Qix- commented on #118
:+1: works for me.

[2015-11-02 06:28] DmitryAuine commented on #122
Ok thx :)

[2015-11-02 06:33] octalmage commented on #121
What version of Visual Studio do you have installed? Please try these instructions:

https://github.com/nodejs/node-gyp#installation

Thanks!

[2015-11-02 07:06] octalmage commented on #122
No problem! Thanks for caring!

[2015-11-02 07:28] tomashanacek commented on #118
:+1: works

[2015-11-02 08:56] octalmage commented on #119
I'm going to close this issue, but please let me know if you're still having issues!

[2015-11-02 08:56] #119 closed

[2015-11-02 14:35] RainmanNoodles commented on #118
Also works... once I used `octalmage` and not `octalimage` in the repo path...

[2015-11-02 15:09] octalmage commented on #118
Lol you're not the first to get it wrong!

Thanks for testing. Backwards compatibility looks good, at least with Yosemite.

I'll hopefully get a PR merged in a few hours, and a new version out later today.

[2015-11-02 15:17] octalmage opened #123 "Add FAQ section to README."
I want to add an FAQ section to answer some of the frequently asked questions. Like hotkey support, screenshots, and missing keys for the keyboard functions.

[2015-11-02 15:47] FilmKnurd commented on #118
Yeup, I ran into the exact same error on Yosemite

[2015-11-02 15:53] #118 closed

[2015-11-02 16:40] octalmage commented on #118
RobotJS v0.3.3 published to npm! Thanks again everyone!

https://github.com/octalmage/robotjs/releases/tag/v0.3.3

[2015-11-02 16:47] pablodenadai opened #125 "Does RobotJS support multiple screens? Eg External monitors."
`<title>`

Thanks,
Pablo

[2015-11-02 18:17] Qix- commented on #118
Thank you :dancer:

[2015-11-02 23:04] SimulatedGREG commented on #118
Working for me now, thanks!

[2015-11-03 00:34] octalmage commented on #125
Hi @pablodenadai!

At the moment, not really. I do plan on improving this though. Subscribe to #88 for updates.

[2015-11-03 00:34] #125 closed

[2015-11-03 02:29] #123 closed

[2015-11-03 09:24] pablodenadai commented on #125
Cool thanks!

[2015-11-03 16:49] Deltatiger commented on #88
I think this should be made uniform across all platforms. As you said it is still a hack in Windows. Should probably get the monitor sizes before making the mouse move or throw some kind of error. That would be better.

[2015-11-04 11:03] octalmage commented on #88
I agree. I guess we"ll need to start with adding c functions to get the number of monitors and their sizes.

[2015-11-04 21:58] maxogden opened #127 "selecting text with mouse commands"
I have some code like this:

[code]

I was hoping this would have the effect of selecting text, but I can't get the text to get highlighted Any ideas?

[2015-11-05 15:01] xxxalz commented on #64
даешь robotjs for nodejs 4

[2015-11-05 22:22] deepajonnala commented on #120
Can some one help me in this :(

[2015-11-08 15:44] octalmage commented on #121
I'm going to close this, if you're still having issues please let me know!

[2015-11-08 15:44] #121 closed

[2015-11-08 16:54] raine opened #128 "Issue with electron global shortcuts and typeString"
[code]

1. Go to empty Chrome address bar
2. Hit <kbd>ctrl-x</kbd>

Nothing happens.

But if you add a `keyTap` before the `typeString` in the shortcut handler, like so:

[code]

then, `ftest` will be entered when pressing the shortcut.

[2015-11-08 19:06] noonat commented on #120
I don't think this is possible right now. I think you need both modifiers set for the g key press, and the code for passing modifiers only currently allows you to pass one.

[2015-11-09 10:00] raine commented on #128
The issue seems to be that <kbd>ctrl</kbd> is still held down when `typeString('test')` is called, so entered text is interpreted as <kbd>ctrl+t</kbd> etc. There would probably have to be some way to trigger it only after modifiers are released.

[2015-11-09 10:17] octalmage commented on #120
**TLDR**
I don't think it's possible until we implement multiple modifiers for keyTap and keyToggle. Sorry!

**Longer version**

Mac is really weird about key events. For most apps you can't just send CMD, then SHIFT then G. You need to send a G keypress with CMD and SHIFT as modifiers. It's very silly.

![](https://cldup.com/ExqScP7axC.gif)

As you can see, CMD+SHIFT+G are all pressed, but as you

[2015-11-09 10:20] octalmage commented on #111
I'm going to close this issue, if you're still having problems please let me know!

[2015-11-09 10:20] #111 closed

[2015-11-09 16:15] happilymarrieddad commented on #111
It works man. Thanks!

[2015-11-09 17:41] noonat commented on #120
@octalmage Would you be open to a pull that changed things to allow multiple modifiers to be passed, perhaps by allowing an array of strings to be passed?

[2015-11-10 08:08] octalmage commented on #127
Mouse events are really weird on Mac. I bet we'll have to specify that the mouse is down for the mouse move or something weird like that. I'll look into it this week!

[2015-11-11 14:45] noonat commented on #120
Opened #130 with a change to allow multiple modifiers.

[2015-11-11 16:14] deepajonnala commented on #120
@octalmage and @nonat Thanks to both of you for looking into this and providing a workaround.Will try with this change today and will let you guys know in case of issues? Thank you !!!

[2015-11-11 16:17] octalmage commented on #120
This one was all @nonat! But it would be awesome if you could try it out and let us know how it works! I'll do the same.

[2015-11-15 15:10] ayhankuru opened #131 "Linux build failing"
[code]
npm-debug.log

https://gist.github.com/ayhankuru/ccbdaedf5209fbc98ab6

[2015-11-15 22:17] noonat commented on #127
Looked into this a little bit, and it seems like you need to pass one of the drag event types (kCGEventLeftMouseDragged, kCGEventRightMouseDragged, kCGEventOtherMouseDragged) to get this to do a selection. It seems like the mouse button *also* needs to be marked as down, neither is sufficient on its own.

[2015-11-15 23:04] maxogden commented on #127
@noonat nice work.

So it sounds like maybe we'll need a `drag: true` option to `mouseToogle`?

[2015-11-16 10:01] octalmage commented on #127
For sure! Either that or a separate mouse drag function.

[2015-11-16 17:27] noonat commented on #127
I have a branch with a separate `dragMouse(x, y, button)` function, where button is optional and defaults to left. It seems to be working as expected.

@octalmage How would you like to handle testing for something like that?

[2015-11-17 09:19] octalmage commented on #127
@noonat I currently don't have a way to test events like that, so don't worry about it for now. Create a pull request and I'll test it on all OSes manually.

I created something that works locally, but it doesn't work on TravisCI:

https://github.com/octalmage/robotjs/tree/keyboard-tests

See #98.

[2015-11-17 09:19] octalmage commented on #128
Thanks for the info @raine!

[2015-11-17 09:19] #128 closed

[2015-11-17 13:48] DaAwesomeP opened #132 "keyToggle doesn't work"
The `keyToggle` method seems to act more like `keyTap`. It doesn't hold the key down for very long at all and definitely not until it is passed again with `up`.

NodeJS v4.2.1
Windows 8.1 Pro x64

[2015-11-17 16:25] DaAwesomeP commented on #132
@octalmage can you confirm this issue? I haven't had a chance to test with other NodeJS versions or operating systems.

[2015-11-17 16:28] octalmage commented on #132
This isn't an issue on Mac, I can test on Windows in a bit.

[2015-11-17 16:30] octalmage commented on #132
Do you have example code to replicate the issue @DaAwesomeP?

[2015-11-17 16:47] Deltatiger commented on #132
@DaAwesomeP  @octalmage  I can test it on windows. Example code and expected output will make all such testing easier.

[2015-11-17 17:06] octalmage commented on #132
@Deltatiger awesome! I believe I used this app in the past to confirm key strokes:

http://aalapshah.in/qipress/

[2015-11-17 18:20] DaAwesomeP commented on #132
@octalmage @Deltatiger I was only testing it with the space key. I am yet to publish [this](https://github.com/DaAwesomeP/firmata-hid) repo to NPM (I don't even have a README yet). Basically the [`index.js` file in `lib/`](https://github.com/DaAwesomeP/firmata-hid/blob/master/lib/index.js#L80-L84) includes the [`firmata.js` file](https://github.com/DaAwesomeP/firmata-hid/blob/master/lib/firmata.js

[2015-11-17 18:21] DaAwesomeP commented on #132
If you want to test it fully as the library is intended, fire up an Arduino programmed with Firmata and a button on a digital pin. Then edit the example config file to `continuous` mode.

[2015-11-17 18:24] DaAwesomeP commented on #132
I apologize for the lack of code comments and general mess of code that it is, but I did it very hurriedly yesterday.

[2015-11-17 19:14] noonat commented on #127
Opened #133 for this.

[2015-11-18 03:06] Deltatiger commented on #132
@octalmage  @DaAwesomeP  I gave it a quick test. I found some doubts with what do you mean by being held down.
Actual Keyboard behavior implies that when I press and hold a key, that key gets typed as many times as possible.
RobotJS keyToggle does work on keys like shift. I tried the following code.
[code]
And i got the expected result of ```Aa```.
This just leads me to question how the actual key

[2015-11-18 03:30] DaAwesomeP commented on #132
@Deltatiger I see. They're simply modifiers and not physical presses. I think that you should add this note to the API section.

Maybe there should be another function that does rapid presses. I did this in my code using a simply while loop:
[code]

[2015-11-18 04:52] octalmage commented on #132
If I remember correctly holding a key down with code doesn't cause multiple presses on Windows, this only happenes when you press a physical key.

[2015-11-18 05:05] DaAwesomeP commented on #132
@octalmage Well, it worked for me! In my original code I did [have a delay/debounce](https://github.com/DaAwesomeP/firmata-hid/blob/master/lib/firmata.js#L78) to make it go a little slower, but it worked well enough.

[2015-11-19 11:58] Deltatiger commented on #132
@DaAwesomeP  It will be better if such functionality be implemented by the developer using the library.  If you want the multiple key presses then some other functionality of KeyToggle may break ( like those for the modifiers ).
@octalmage  As suggested by @DaAwesomeP I think a note should be added to the API mentioning the working of the KeyToggle API.

[2015-11-20 09:45] Deltatiger opened #134 "Platforms Supported"
This is just a discussion to get some other features working.

What are the different OSes that will be supported by RobotJS ?
Its better if this list is prepared and maintained. This will help us avoid using certain API which are deprecated or not available. For eg.) Is windows XP supported ?

[2015-11-20 09:48] Deltatiger commented on #131
This is saying something like g++ command not found ```g++: Komut bulunamadı```.
Please follow this : https://github.com/octalmage/robotjs#installation

[2015-11-20 12:53] ayhankuru commented on #131
@Deltatiger yeah, I'm sorry my mistake

[2015-11-20 12:53] #131 closed

[2015-11-20 13:50] Deltatiger commented on #131
@ayhankuru  No problem. Update the issue if something else fails

[2015-11-20 13:55] octalmage commented on #134
I'd say Windows back to XP, Mac back to Mavericks, and I'm not sure about Linux. It gets more complicated there.

[2015-11-20 13:59] octalmage commented on #134
Should we support XP? I guess maybe not if Microsoft isn't supporting it. I just use it in a VM, because that's the build environment I have.

Also should we support versions of Mac OSX later than Mavericks? Apple has made it pretty easy to upgrade these days (it's free), so most people should be on the latest. I say at least one version back is fair.

[2015-11-20 14:25] ayhankuru commented on #131
@Deltatiger ı'm close that issue not problem any more :/

[2015-11-20 16:39] octalmage commented on #108
This has finally been merged! Thanks again @ashleydavis!!

[2015-11-20 16:39] #108 closed

[2015-11-20 16:46] octalmage commented on #134
Actually, if the Windows OS supports the version of Visual Studio suggested by node-gyp, then maybe we should support it? I'm not sure how to handle this.

[2015-11-20 17:05] Deltatiger commented on #134
@octalmage  I was thinking something along the line of N - 2 or N - 3. So its Windows 10 that is the current generation there will be support till Windows 7 ( in terms of N - 3). Of course there will have to be some exceptions.
But again I am with you in the matter that there is no easy way to handle this. But it has to be done.

[2015-11-21 21:19] DaAwesomeP commented on #132
Since this isn't really a bug, I'll close this.

[2015-11-21 21:19] #132 closed

[2015-11-21 21:23] schlaus opened #135 "Install OK(ish), but fails when running with Electron"
I get the feeling the problem is me having a serious case of ***the dumb***, but I can't get the Electron starter app to run if I try to include RobotJS.

There's some warnings thrown when installing (with npm i --save-dev robotjs), but nothing that would halt the compilation:

[code]

Whever I try to launch the app, I get this:

![screenshot 2015-11-21 23 04 22](https://cloud.githubusercontent.co

[2015-11-21 21:30] octalmage commented on #135
Hello!

Did you compile RobotJS for Electron? Native modules require some extra work.

https://github.com/atom/electron/blob/master/docs/tutorial/using-native-node-modules.md

[2015-11-21 21:49] schlaus commented on #135
Thanks for the prompt reply!

I honestly thought I had, but apparently I hadn't because the compilation failed due to [another issue](https://github.com/electronjs/electron-rebuild/issues/15). So my initial hypothesis was spot-on.

This issue is resolved and was not related to RobotJS. Thanks!

[2015-11-21 21:49] #135 closed

[2015-11-21 23:40] octalmage commented on #135
No problem! Glad I was able to help.

Please let me know if you run into any other issues!

[2015-11-22 05:44] octalmage commented on #108
This made it into v0.3.4, and it seems to be working great!

[2015-12-05 07:36] rezen commented on #134
I was able to install/run successfully on  Win7. I would add to the readme, to point people to this guide to ensure they can build with node-gyp. https://github.com/Microsoft/nodejs-guidelines/blob/master/windows-environment.md#environment-setup-and-configuration

[2015-12-05 12:46] #127 closed

[2015-12-07 17:16] octalmage commented on #134
@rezen thanks for that! Were you able to get it working with the Standalone C++ Build Tools?

[2015-12-07 17:23] rezen commented on #134
@octalmage yup, it works perfect after following Option 1 (Standalone C++ Build Tools) steps!

[2015-12-09 06:47] lesmo commented on #134
So... call me crazy, but I'll be deploying this on Windows XP. I'll let you know what happens.

[2015-12-09 07:47] octalmage commented on #134
@lesmo My build machine is Windows XP, so you should be fine! I believe I use Visual Studio 2008.

[2015-12-10 20:22] schoening opened #138 "ETA for Screenshot / getPixel(s) ?"
I was taken a look at the src files and they do seem pretty straight forward. Kudos to the writers! Unfortunately I don't know any C or C++, really frustrating to sort of understand the code but being unable to contribute :P

Any idea when there will be a function that returns a bitmap or something like a typed array that can be manipulated in JavaScript?

Not talking about the fancy stuff, like f

[2015-12-10 20:24] schoening opened #139 "ETA for Screenshot / getPixel(s) ?"
I was taken a look at the src files and they do seem pretty straight forward. Kudos to the writers! Unfortunately I don't know any C or C++, really frustrating to sort of understand the code but being unable to contribute :P

Any idea when there will be a function that returns a bitmap or something like a typed array that can be manipulated in JavaScript?

Not talking about the fancy stuff, like f

[2015-12-10 20:24] #138 closed

[2015-12-10 20:24] schoening commented on #138
Duplcate. trying to delete this one.

[2015-12-10 21:19] octalmage commented on #138
There isn't a way to delete issues, so closing it is fine!

[2015-12-10 21:24] octalmage commented on #138
You can preview and use the screen capture code on Mac, I'm struggling to get it to work on Windows though.

http://blog.robotjs.io/post/130642552013/i-spent-a-few-hours-yesterday-and-today-working-on

Things have also been really crazy at work, it might be a while till I can finish this unfortunately.

[2015-12-10 21:25] octalmage commented on #13
Here's the latest:

http://blog.robotjs.io/post/130642552013/i-spent-a-few-hours-yesterday-and-today-working-on

[2015-12-11 06:04] Deltatiger commented on #13
@octalImage I will look into this bug and get it sorted out. Is the version implemented for Linux ?

[2015-12-11 13:16] octalmage commented on #13
Nice! Yeah it works for Linux too. I'm pretty sure my math is wrong for the buffers though. If I remember correctly it crashed when I passed the image buffer back to C++ from JavaScript in colorAt.

[2015-12-11 15:29] schoening commented on #138
No problem mate :)

I am dual booting Linux mint and Windows 10.
Curious why you replied to this post, since its the duplicate of the one where the content is :p

I got lots of stressful stuff my self at the moment so don't worry, just wanted to check :)

[2015-12-14 00:58] octalmage commented on #138
Lol I didn't see your other issue till just now.

[2015-12-14 00:59] octalmage commented on #139
You can preview and use the screen capture code on Mac, I'm struggling to get it to work on Windows though.

http://blog.robotjs.io/post/130642552013/i-spent-a-few-hours-yesterday-and-today-working-on

Things have also been really crazy at work, it might be a while till I can finish this unfortunately.

Also see:

https://github.com/octalmage/robotjs#can-i-take-a-screenshot-with-robotjs

[2015-12-14 00:59] #139 closed

[2015-12-14 01:01] octalmage commented on #120
This has been resolved by #130, and published to npm in RobotJS v0.3.6.

Thanks @noonat!

[2015-12-14 01:01] #120 closed

[2015-12-14 01:12] octalmage commented on #96
Sorry I missed this! I'll look into it tomorrow.

[2015-12-14 23:46] brendanadnerb commented on #64
I'm also trying to use it in an Electron app; it works perfectly on Mac but I'm having a lot of trouble getting it to work on Windows, because of these dependencies (not sure if Python and VS are not installed quite right or what). We are also eventually moving to Linux. Shipping with everything self-contained and verified working cross-platform would be awesome.

[2015-12-17 17:59] metaraine opened #140 "Detect mouse click"
Is it possible to detect a mouse click that occurs a different application?

This would be super helpful for an idle-time detection app I'd like to build.

[2015-12-17 18:00] metaraine commented on #140
nvm, just found #93

[2015-12-17 18:00] #140 closed

[2015-12-19 22:04] ligustah opened #141 "F9 apparently F19"
Hi,

I've been playing around with robotjs a bit and have been impressed by it so far. I'm trying to have it press certain key combinations to manipulate another program that is listening for global hotkeys.

Now I started experimenting with mapping actions to F9 and F10, but couldn't get it to work for whatever reasons, so I installed a program that would display keys pressed on screen ( http://s

[2015-12-20 11:27] ligustah commented on #141
See #142

[2015-12-20 11:27] #141 closed

[2015-12-20 11:36] ligustah opened #143 "keyTap sometimes doesn't apply modifier(s)"
As I mentioned in #141 I have been trying to reliably reproduce another issue I found, but I think it is somehow related to timing. I'm still using a program to show keystrokes and I created a small script that would press all keys from F1 to F12, all with 'control' set as the only modifier.

Most of the time it would show "Ctrl + F1" pressed, for example. However, sometimes it would first show "C

[2015-12-20 12:45] ligustah commented on #143
From my tests it seems that it always works when I use keyToggle to "manually" tap the keys.

[2015-12-22 09:43] octalmage commented on #143
Hmm, interesting. Is is on Windows right? I can't seem to reproduce it on Mac.

Does it help to increase [setKeyboardDelay](https://github.com/octalmage/robotjs/wiki/Syntax#setkeyboarddelayms)?

[2015-12-22 09:49] ligustah commented on #143
Windows 10

I'll test with the keyboard delay and will report here. Given that this seems to be a timing issue, that one might actually solve the problem.

[2015-12-22 09:54] octalmage commented on #143
Thanks! I suspect that it might help. I've ran into similar issues on Mac where it just can't handle events that fast.

[2015-12-24 15:23] zweicoder opened #145 "Check if target window is active?"
In AutoHotkey we could check if certain windows or processes are active before activating certain hotkeys. Is it doable with `robotjs`?

[2015-12-24 15:26] Deltatiger commented on #145
@zweicoder as of now we do not have such a feature. This is something that has not come up for implementation so I think this may take more time before it is implemented.
Useful feature though. I should start exploring AHK

[2015-12-24 21:15] octalmage commented on #145
I would like to implement window management because it doesn't exist for Node.js. I even started on it in the window branch, but it's currently not a priority. I might look into it after the screen capture code is finished.

[2015-12-28 07:27] #91 closed

[2015-12-28 22:13] octalmage commented on #39
I'm going to close this, there aren't any incompatibilities with El Captain at the moment.

[2015-12-28 22:13] #39 closed

[2015-12-29 09:23] octalmage commented on #16
The Windows issue mentioned by @Nikersify was fixed in #110.

[2015-12-29 10:07] octalmage commented on #141
Fix published to npm in RobotJS v0.3.7.

[2015-12-29 10:07] octalmage commented on #91
Fix published to npm in RobotJS v0.3.7. Thanks again @vshymanskyy!

[2015-12-29 10:27] ligustah commented on #141
Awesome, thanks!

I'll probably get some time during the next days to find out more about the other issue.

[2015-12-29 10:28] octalmage commented on #141
Cool sounds good!

[2015-12-29 10:35] octalmage opened #148 "Volume keys don't work on Mac."
The multimedia keys added in #106 don't work on Mac. Apparently you can't just send a volume up event. Here's a possible solution:

https://github.com/synergy/synergy/issues/3305

[2016-01-07 14:22] illegalprime opened #153 "add a way to specify the X11 display in Linux"
When running a process using this as a service I get a segfault from node.js like so:
[code]

`index.js` is just trying to do anything with `robot.js`:
[code]

The workaround is easy (run with `DISPLAY=:0` or similar), but I would rather not have to configure this module through environment variables.

[2016-01-07 14:24] Deltatiger commented on #115
I will get started on converting everything to sendinput and start testing stuff out.

[2016-01-07 14:28] Deltatiger opened #154 "Test Utility"
Should we have some kind of test utility that will perform the basic functionality testing automatically. This could reduce the roll-out time considerably. Also if we can make the utility multi-platform then it would be even better.

I was thinking of something like a Python Script with Tkinter UI to test all the UI commands. This utility can sense lot of the system settings and generate a RobotJS

[2016-01-09 21:01] ligustah commented on #143
So I finally found some time to get back to this. I tried changing the keyboard delay to no avail though (tried up to 1000ms).

This is the code that I used to test this along with a tool called KeyPosé: https://gist.github.com/ligustah/869a4f03b2f8ae01b9a0

It taps the keys in succession most of the time now (tested against 0.3.6, because I cannot currently compile the most recent version).

[2016-01-12 11:38] octalmage commented on #153
See #34 and let me know if that works for you!

[2016-01-12 12:00] octalmage commented on #154
This is what I was talking about in #98. I got something working in the keyboard-tests branch using only the terminal, but it won't work for TravisCI or Appveyor. So I started work on a new application using Electron that will be cross platform, and do what we need. With TravisCI we can test Mac OS X and Linux, and with Appveyor we can test Windows automatically. The goal is to eventually use thes

[2016-01-13 01:58] faytom opened #156 "keytap does not work on browser"
I try to write a piece of code which shows the key tap in browser, however it always appears in the terminal. Anyone can help me with it? Thx alot.

[2016-01-13 02:58] faytom commented on #156
I realized i placed the keyTap function in a serialEvent listener, by calling keyTap within this serialEvent listener it won't execute the code successfully and eventually leads to segmentation fault: 11.

[2016-01-13 03:42] octalmage commented on #156
I'm not sure I understand. Could you provide some code where keyTap isn't working? It shouldn't be possible to cause a segmentation fault with keyTap.

Which OS and Node.js version are you using?

[2016-01-13 03:43] octalmage commented on #156
Also I'm not familiar with serialEvent, where does this come from?

Thanks!

[2016-01-13 13:31] faytom commented on #156
just realized that i was putting a "1" as the argument for keyTap and it wasn't supported. stupid mistake.

[2016-01-13 13:31] #156 closed

[2016-01-14 18:22] illegalprime commented on #153
Will test it out later today, sorry for the delay.

[2016-01-26 12:26] syzer opened #157 "install on mac fails"
node 5.1, and v4.1.1
el capitan
[code]

[2016-01-26 12:41] octalmage commented on #157
Looks like you're trying to install an old version of Robot.js, try 0.3.7!

[2016-01-26 20:48] octalmage commented on #153
No worries! You're doing me a favor!

[2016-01-28 20:17] nroadley opened #158 "keyToggle not keeping the hold"
First off, great library! I loved this for JAVA a lot, and you can do some nifty things.

However, I seem to have a bug where the keyToggle doesn't keep the button hold. I used a test similar to this code, where I simply wanted the key to be held down for 5 second. (Would expect the cursor to scroll up the page in my text document.)

[code]

Is it a known issue or me doing something wrong?

[2016-01-28 20:32] octalmage commented on #158
Hey @nroadley!

Try setting the keyboard delay first! The sleep is at the end of the function. In the above code the first keyToggle would sleep for the default 10ms, the up event would fire then it would sleep for 5 second.

[2016-01-28 20:41] nroadley commented on #158
Doesn't seem to work either for me. It sends the first press but never holds the input. But the same code works perfectly with the mouse toggle, which is a mystery for me.

[2016-01-28 21:08] octalmage commented on #158
Hmm which OS are you using? It's probably holding the key down, but not pressing it repeatedly. Depending on the OS, holding down the key virtually won't scroll like your expecting.

[2016-01-28 23:17] nroadley commented on #158
OSX so I was confused with the behaviour from what I was used to in Windows. Sorry!

The input is working as expected inside the software I wanted to use. Thank you.

[2016-01-28 23:17] #158 closed

[2016-01-28 23:24] octalmage commented on #158
No worries! I went through the same exact thing before. Let me know if you run into anything else!

[2016-02-01 23:50] verth commented on #97
I was able to reproduce your errors in [#50](https://github.com/octalmage/robotjs/pull/50) on Windows 10.

The problem is VS2008 (or more specific C89), which requires variables to be declared at the beginning of a scope. Newer versions of VS have better support for C99, with ex. better variable declarations.

I could resolve this by putting the declaration of mouseScrollInput at the beginning of

[2016-02-03 11:46] nroadley opened #159 "moveMouse / dragMouse in games"
I ran into an other issue, that again might be OS specific. I am using a Potentiometer that is mapped to my screen width, which I would like to use as a controller for my game. But whenever the mouse input has to be used in a game, it doesn't detect the movement of the cursor.

Button presses works perfectly. And I tried with dragMouse too.

Anyone got this to work?

[2016-02-04 16:04] btjones opened #160 "[multi-monitor] getPixelColor with a negative x or y throws an error"
When `getPixelColor` is called with a negative x or y coordinate an error is thrown. This happen when using multiple monitors and going above or to the left of the main monitor (I've only test on OSX 10.11.2).

This is very similar to https://github.com/octalmage/robotjs/issues/88

[code]

[2016-02-06 19:07] dongryphon opened #161 "Window management"
Found this module and it looks awesome! Would love window management stuff such as:
- list app windows
- bring window to front / focus
- close window
- bonus pts if we could peer into browser tabs :)

If this is something you would like to have but not do all yourself, I might be able to contribute some of the above or at least help out.

[2016-02-09 14:08] Ins87 commented on #64
+1

[2016-02-11 06:29] Deltatiger commented on #160
@btjones How are your multiple monitors setup ? The Co-ordinate system depends on how your main monitor is setup. The main Monitor's lower left corner is (0, 0) with the X and Y axes increasing to the right and top sides respectively.

Could you please check this information and post your monitor config ?

[2016-02-11 06:39] octalmage commented on #160
I don't think this is going to work until we add direct multi monitor support. Each API probably has a different method of dealing with extra displays.

[2016-02-15 01:37] tukutela commented on #64
+1 great idea!

[2016-02-17 15:34] octalmage commented on #161
This is something I also want but its not a priority at the moment. Feel free to work on it if you want!

[2016-02-17 15:38] octalmage commented on #96
I believe this has been fixed! let me know if it's still an issue.

[2016-02-17 15:38] #96 closed

[2016-02-17 15:42] octalmage commented on #97
@verth Thanks for looking into this! Could you submit a pull request? I'm fine with moving the variables to the top of the function.

[2016-02-17 15:43] octalmage commented on #157
I'm going to close this, please let me know if you're still having issues.

[2016-02-17 15:43] #157 closed

[2016-02-17 16:12] verth commented on #97
Yes, I will! Wasn't too sure what you would prefer. Will look to do it today or tomorrow.

[2016-02-18 01:27] sops21 commented on #64
+1

[2016-02-18 14:07] verth commented on #161
@octalmage  would this also include control over Virtual Desktops (Spaces)? Could be nice to add this in with window management.

I recently created a basic package (C++) to do this in W10, for a side-project I was doing with robotjs, based on some nice write-ups and samples ([repo with src/links for interested](https://github.com/verth/virtualdesktops)). But, it would probably be nicer if this fu

[2016-02-19 11:03] IvoPereira commented on #55
Any updates on this @octalmage?

[2016-02-19 16:32] octalmage commented on #55
This isn't a priority at the moment, I wouldn't expect it anytime soon. Sorry!

[2016-02-21 05:38] iamtekeste opened #164 "Press 3 keys"
Great project!
I am trying to  do `Ctrl` + `Win` + `D` (on Ubuntu this hides all the open windows and shows the desktop).
How might one go about doing that?
Thank you.

[2016-02-21 07:44] octalmage commented on #161
A while back I started working on some code for Mac. I was able to get a list of windows and move one from Node. But I want to have the features for each os implemented before it's released, and that's a pretty large project. My current focus is on the screen/bitmap related code, but it's something I'd love to see down the road.

As far as controlling virtual desktops, I'm not sure if that would b

[2016-02-21 09:46] Kerndog73 opened #165 "Mouse move when locked"
mouseMove doesn't work when the mouse is locked. I tried mouseMoveSmooth but that didn't work either.

[2016-02-21 09:59] octalmage commented on #165
Hey @Kerndog73! What do you mean by locked?

[2016-02-21 10:07] octalmage commented on #164
Hey @iamtekeste! You can do this with keyTap or keyToggle! It actually accepts a string or array as a modifier, I still need to update the documentation. For example:

    keyTap('D', ['command', 'control']);

Let me know if this works!

[2016-02-21 10:15] iamtekeste commented on #164
I just tried it and worked flawlessly! It minimized all the open windows and showed the desktop.
Your rock man! You should definitely mention this on the documentation. I think am gonna release this functionality as a CLI module.
Why not right?

[2016-02-21 10:44] Kerndog73 commented on #165
If you open a first person shooter game. The mouse stays in the centre of the screen and is invisible but the moving the mouse changes the view. This state is called "locked".

I'm making a wireless game controller that turns any phone or tablet into a wireless game controller that can be used to control a laptop.

I want to move the mouse while its in this locked state

[2016-02-21 23:16] #164 closed

[2016-02-22 18:07] Paic opened #166 "colorAt() Asssertion failed"
Hi!

I was trying the new colorAt() feature, but almost instantly this error message appeared.

![robotjs error](https://cloud.githubusercontent.com/assets/940586/13227460/157e311a-d997-11e5-8569-2f1403bee8aa.png)

Could it be from my Node version or is it a problem in the code ?

[2016-02-22 23:31] octalmage commented on #166
Could you shared the code you used? It could be either. Also your Node.js version would be helpful!

Thanks!

[2016-02-22 23:32] octalmage commented on #166
From what I can see, it looks like you tried to get a point in the bitmap that was out of bounds. Are you using a multi-monitor setup?

[2016-02-23 11:02] Paic commented on #166
I used a simple function to grab to color where the pointer is :

[code]

I have a multi-monitor setup, with the second one being on the left and (0, 0) is the top left corner of the main one. If I move the mouse on the second one, the error occur (which is normal since there is no multi-monitor support), but it also occur when I move it to the right, so still on the main monitor (when x > ~1050).

[2016-02-25 14:38] nroadley commented on #159
I found [this](https://autohotkey.com/board/topic/65492-fps-game-mouse-movement-via-keyboard/l) thread on autohotkey. Do we have the possibility of relative mouse movement etc. too?

Hope to find a solution to this, as it will be so great for DIY controller projects!

[2016-02-25 18:38] octalmage commented on #159
Many games try to prevent automation which is probably what you're running into. This is mainly an issue on Windows.

Which OS and game are you using?

[2016-02-25 18:44] octalmage commented on #165
If you get and print the mouse position, what is it? Does it change or is it fixed?

[2016-02-25 19:35] nroadley commented on #159
OS X and have mainly been testing with Portal, Minecraft and some browser game. None seemed to respond, but when you moved the real mouse, it picked up the coordinate to some extend.

I think you are right, but I am not giving up yet :)

[2016-02-26 03:55] btjones commented on #160
I hook up an external monitor to my laptop and then alter the arrangement in System Preferences > Displays. So it's not always perfectly lined up at the bottom or the top. Sometimes the main display is on the left, sometimes the right, and they could even be on top of each other.

Bottom line, can't depend on all monitors to be aligned at the bottom with the main display on the left. Depending on

[2016-02-26 09:38] Kerndog73 commented on #165
After calling moveMouse the mouse is in a new position but the game doesn't react

[2016-02-26 09:42] Kerndog73 commented on #159
@nroadley I'm making a controller as well. It would be great to get this to work

[2016-02-26 16:14] octalmage commented on #159
@nroadley cool I'll see what I can figure out with Minecraft this weekend. I'm convinced I can get this working, I think it's very important. It just might take me some time.

[2016-02-29 09:19] nroadley commented on #159
Sounds great @octalmage . I am also looking into some lower level ways of doing it. Let me know what you find!

[2016-03-08 10:43] azain commented on #64
+1

[2016-03-09 15:31] octalmage commented on #160
@btjones For sure, we just don't have multi-monitor support yet. It's on the roadmap!

[2016-03-10 22:09] Mastergalen opened #167 "Media keys don't work on Mac"
I'm running the same code on both my Windows Desktop and my Mac. Nothing wrong when running it on Windows.

On Mac I'm getting the following error:

[code]

The code for `server.js` are just these 2 lines:

[code]

Tried it with other keys such as `audio_next` and `audio_mute`.

<hr>

Oddly enough
[code]
doesn't crash the program, but doesn't actually mute any sound my Mac.

<hr>

The keyboard dem

[2016-03-10 22:13] octalmage commented on #64
+1

[2016-03-10 22:16] octalmage commented on #167
Hey @Mastergalen! Currently the media keys don't work on Mac, you can follow this issue for updates:

https://github.com/octalmage/robotjs/issues/148

[2016-03-10 22:16] #167 closed

[2016-03-12 17:08] sushruth commented on #165
Maybe you need the PointerLock API? I think this could be incorporated into RobotJS API. Could help to have this. :+1:  for that feature request

[2016-03-12 19:49] octalmage commented on #165
@sushruth I don't think that will help here. The Pointer Lock API is for the browser, RobotJS is on the "server" or desktop. But thanks!

[2016-03-14 20:51] happilymarrieddad opened #168 "Module Mismatch expected 14 got 46"
Hey, I'm using robotjs on a Windows 2008 Server to automate something. It is working on the staging server but when I move it over to the production server I get this error.. I'm pretty sure I did everything else the same... please help!! Thanks!!

node 0.12.7
robotjs

[2016-03-15 13:17] lukasvy commented on #64
+1

[2016-03-15 14:33] octalmage commented on #168
@happilymarrieddad this usually means that you have to recompile RobotJS. You can do this by going into the robotjs directory inside node_modules and running `node-gyp rebuild`. It seems like the staging server and the production server might have different Node.js versions.

[2016-03-16 00:33] adjohnson916 opened #169 "Expose key names to JS"
Are the key names (e.g. "backspace") exposed to JS? It'd be useful.

[2016-03-17 17:35] killroy42 commented on #49
Has this feature progressed in the meantime? I'm afraid my C-fu is not sufficient to pick up the torch.

[2016-03-17 17:37] octalmage commented on #49
@killroy42 It's implemented!

https://github.com/octalmage/robotjs/wiki/Syntax#scrollmousemagnitude-direction

[2016-03-21 14:55] octalmage commented on #168
@happilymarrieddad were you able to get this resolved?

[2016-03-21 14:56] octalmage commented on #169
Yes they are! Check keyTap and keyToggle:

https://github.com/octalmage/robotjs/wiki/Syntax#keytapkey-modifier

[2016-03-21 14:56] #169 closed

[2016-03-21 14:57] octalmage commented on #165
I'm going to close this in favor of #159. I was able to replicate and started to work on this but I don't have a resolution yet. I'll update the other ticket with more information!

[2016-03-21 14:57] #165 closed

[2016-03-21 17:01] g0rd opened #170 "File Upload Does Not Work"
[code]
I used to be able to perform the file upload using robotjs but it has stopped working recently. I am not sure whether it's due to updates on protractor or selenium server or it is the robotjs update.

It stopped working on both chrome and firefox.

My code does simple task as below:
[code]

I tried adding keyboard delay too with no avail

[code]

[2016-03-22 16:32] Cardinal90 opened #172 "Subscribe to mouse events"
Is it possible to add a functionality to subscribe to mousedown/mouseup/mousemove? I want a control in my electron app to work on mousemove while the left button is pressed regardless of cursor position on the screen. While i could repeatedly query cursor position in electron, i still have no way of knowing that mouseup happened outside of my app.

[2016-03-22 19:00] octalmage commented on #172
This is something I'd like to do, but it's not currently on our roadmap. There's some discussion about platform hooks here:

https://github.com/octalmage/robotjs/issues/55

[2016-03-22 23:35] meeple142 opened #173 "Read and Write to clipboard"
I like to do text manipulation with AHK. The easiest way to do it is by highlighting text and then running the script that copies the selection, then reads the clipboard then edit the text and then write back to the clipboard then paste the edited text. It is not 100% reliable (there are some timing issues), but it works.
Also reading text from screen/clipboard could be used to make a decision bas

[2016-03-23 13:35] octalmage commented on #173
Both NW.js and Electron provide cross platform access to the clipboard, have you tried them? I've used their clipboard functionality a few times and it works well.

[2016-03-23 13:41] meeple142 commented on #173
I have used nwjs but didnt realize that it can do clipboard functions. If the functionality is out there then no reason to reinvent it! Thank you for letting me know.

[2016-03-23 13:47] meeple142 commented on #173
I have used nwjs but didnt realize that it can do clipboard functions. If the functionality is out there then no reason to reinvent it! Thank you for letting me know.

[2016-03-23 13:47] #173 closed

[2016-03-23 14:00] octalmage commented on #173
Of course! Let me know if you have any issues selecting text. That's not something I've used RobotJS for before!

[2016-03-24 02:48] fritx opened #174 "Faster moveMouseSmooth"
I've tried the [moveMouseSmooth](https://github.com/octalmage/robotjs/wiki/Syntax#movemousesmoothx-y) api, and it's quite awesome!
But it's a little bit slow to me, that while [remote controlling](https://github.com/maxogden/screencat), it takes more time to finish work.

So I think maybe it's possible for users to config the milliseconds to `wait`? maybe always 1 ms is okay?
Thanks! :sweat_smile:

[2016-03-25 11:38] Cardinal90 commented on #172
Just by chance I found these two libraries: https://github.com/kapetan/win-mouse, https://github.com/kapetan/osx-mouse, maybe you will find them interesting. Not for linux though.

[2016-03-27 21:16] adjohnson916 commented on #169
@octalmage I'm looking for a actual list or map of the supported key names that can be passed to those functions.

[2016-03-27 22:18] octalmage commented on #169
Oh, do you mean a way to pull the list of supported keys using JavaScript?

[2016-03-27 22:24] adjohnson916 commented on #169
@octalmage Exactly.

[2016-03-28 19:51] cryptedco opened #175 "Using robotJS with NWJS.io on Win32 and some minor bugs?"
Hi folks, I have successfully installed robotJS on Mac and use it with our Browser tool: https://www.youtube.com/watch?v=2z3riIYny1Y&feature=youtu.be

Pretty good. Some things are not working:

mouseToggle("down") and then moving the mouse does not highlight the text under the mouse pointer. Should it do that?

And: I can not get it to run with both the Win64 AND Win32 release of NWJS - it complai

[2016-03-29 02:16] fritx commented on #175
@cryptedco browser-automation tool, awesome thing! it's one of my recent plan, too!
is it open-sourced on github?

[2016-03-29 03:42] octalmage commented on #175
Your browser automation tool looks great! For selecting text, could you try the dragMouse function? It accepts x, y, and button (defaults left).

For the 64bit/32bit issue, I believe this has to do with the compiler installed. I'd have to look into it though. Different architectures need different compilers. I use Windows XP, 8 and 10 for testing.

Let me know if this helps!

[2016-03-29 09:21] cryptedco commented on #175
Thanks a lot for the answer, Jason! I am afraid that did not work either:

moved the mouse like toggle+move, but nothing is highlighted... I am on El Capitan OS X 64bit.... For the Windows question - I will try to confirm the 64bit in the whole value chain, from Win10 up to NWJS and the Visual Studio Installation (used the community release here)... somewhere is a Win32 hidden!

@fritx thanks! Not

[2016-03-30 03:15] fritx commented on #175
@cryptedco yeah, it's cool! I think I'm glad to help.
I've had lots of interest in NW.js & Electron.
In company, my team is building apps with NW, and I do personal works with both NW & Electron ;)
- This is a WIP prj using electron to test websites (high inspired by nightmare) https://github.com/fritx/nixe
- And this is a tool to automated-test NW desktop app! But not yet ready :\ https://github.

[2016-03-30 19:55] g0rd commented on #170
Is this still being supported?

[2016-03-30 19:57] octalmage commented on #170
It is! Just really busy. RobotJS hasn't been updated recently, what specifically isn't working? Is the text not being typed? Or enter isn't pressed?

[2016-03-30 20:24] g0rd commented on #170
@octalmage Thanks for getting back!

Text is not being typed even though the focus is on the textbox in the upload window. On the other hand, if I manually change the focus to somewhere else in the middle of the test, Robot types it there.

[2016-03-30 23:56] ProbablePrime commented on #135
@schlaus @octalmage I'm so terribly sorry to tag you both here  on such an old issue but could any of you perhaps provide some assistance.

I have an electron app that needs to use robotjs. I've got it installed correctly but the pop-up message from the original report here continues to appear.

I have
* ran `electron-rebuild -w robotjs`
* tried [rebuild-require](https://github.com/juliangruber/re

[2016-03-31 12:31] cryptedco commented on #175
Alright, I am giving up for now... need to get a clean VM to test it again! I tried to go 100% 32 and then 100% 64 bit and install it... failed in both scenarios with a DLL problem...

[2016-03-31 13:45] cryptedco commented on #175
Just to complete the infos: it does work without NWJS... if I just start a test with "node robotest.js" the script executes fine... just NOT in NWJS. I have compiled it with node 5.9.0 and it always goes down with the DLL problem. I guess the two programs just do not work together yet...

![screenshot 2016-03-31 15 44 37](https://cloud.githubusercontent.com/assets/326428/14177633/85193f1e-f757-11e

[2016-03-31 13:49] octalmage commented on #175
I use RobotJS with NW.js 0.13 on Mac, but I know people have done it on Windows. Are you using nw-gyp? That's usually the issue.

[2016-03-31 14:04] cryptedco commented on #175
Hi Jason, good point! Thanks for the hint... yes on Mac it is absolutely no problem... I just did "npm install robotjs" and the code worked right away... I will look into the compiler setting with nw-gyp again and let you know...

[2016-03-31 16:16] cryptedco commented on #175
Alright, the nw-gyp seems to be the problem, but now I can not install the required VCbuild.exe because the links to Microsoft do not work to get the recommended SDK... exhausting... any pointers on better howtos, maybe?

[2016-03-31 16:37] cryptedco commented on #175
Ending today on nw-gyp with:
MSBUILD : error MSB3428: Could not load the Visual C++ component "VCBuild.exe". To fix this, 1) install the .NET Framework 2.0 SDK, 2) install Microsoft Visual Studio 2005 or 3) add the location
 of the component to the system path if it is installed elsewhere.  [C:\Datavault\nwjs-sdk-v0.13.3-pre-win-x64\app.nw\node_modules\robotjs\build\binding.sln]

[2016-03-31 20:47] octalmage commented on #175
Try some of the recommendations here:

https://github.com/nodejs/node-gyp#installation

Sorry you're having such a hard time! This is another reason we need node-pre-gyp.

[2016-03-31 20:56] cryptedco commented on #175
Jason, I finally got it to work :-) :facepunch:  the key was within the nw-gyp process as you suspected and I was just too stupid (unexperienced?) to read closely:

%APPDATA%\npm\node_modules\node-gyp\src\win_delay_load_hook.c with the one at https://github.com/nwjs/nw.js/blob/nw13/tools/win_delay_load_hook.c

http://docs.nwjs.io/en/latest/For%20Users/Advanced/Use%20Native%20Node%20Modules/

Thank

[2016-04-01 13:16] HopefulLlama opened #176 "Huge ask: Get position of text on-screen?"
In my head, after 30 seconds of thinking, something like

robot.getPosOfText("Submit new issue");

would mean that RobotJS could go to the submit issue button directly, rather than going to a hardcoded X and Y position.
Would also make it more flexible in the sense of different screen sizes, window location, etc.

[2016-04-01 18:40] octalmage commented on #176
This is something that is coming with the bitmap module. You won't be able to find text, but you'll be able to find an image on the screen. So you could take a screenshot of the button and save it, then RobotJS can find and click it.

[2016-04-01 18:41] octalmage commented on #175
Awesome! I'm so glad you figured it out. I've never seen that before, so I'm sure that will be handy in the future. I'm going to mark this as resolved! Let me know if you need anything else.

[2016-04-01 18:41] #175 closed

[2016-04-01 19:08] cryptedco commented on #175
Should have closed it myself, thanks for the help... Still got the dragMouse / toggleMouse thing pending, but I will continue to test! I have to work on my credits page to say thanks to all the people helping on GitHub!

[2016-04-11 04:01] octalmage commented on #159
I made some progress on this today. You can test the code here:

https://github.com/octalmage/robotjs/pull/177

I don't think it's perfect, but it's a step in the right direction.

[2016-04-11 22:46] #5 closed

[2016-04-11 22:49] octalmage commented on #32
I'm going to close this, if anyone still needs help please open a new issue!

[2016-04-11 22:49] #32 closed

[2016-04-13 00:03] blak3r2 commented on #64
+1

[2016-04-13 02:19] blak3r2 commented on #57
Hey guys,

I've read this thread and a couple others and what i've gathered is for windows support it still requires all the dependencies to be installed and it's built using node-gyp.

I managed to get it built on a dev box I have which was windows server 2008R2.  But, the binaries didn't work on a winxp or a windows 10 box (I got the error below).  Probably need to have some redistributable inst

[2016-04-13 02:25] octalmage commented on #57
Hey @blak3r2! Would you mind opening a new issue? This issue is for tracking progress on the Windows installer. Thanks!

[2016-04-13 13:32] octalmage commented on #57
The error you got happens when the module was compiled for a 64bit architecture, but is ran on 32bit. There's more detailed instructions for Windows [here](https://github.com/nodejs/node-gyp#installation).

I don't believe a binary has to be compiled on the same version of Windows, but it'd believe it since different dev tools are used.

[2016-04-16 11:27] henryzhangsta opened #178 "Additional Function Keys"
I was wondering if it would be possible to get the F13-F24 keys for the keyTap and keyToggle functions? These are useful since they are rarely ever mapped by any program and would make it so the automation doesn't conflict with any global hotkey listeners for sure.

[2016-04-16 19:14] Deltatiger commented on #115
Can SendInput be used instead of keybd_event. I think all the features we have so far can be ported onto SendInput.
I was pretty much stuck with college work for the past 2 months so I couldn't push anything. Will get back to fixing this ASAP.

[2016-04-16 19:16] octalmage commented on #115
No worries! I haven't touched this in around 2 months either, so I understand!

[2016-04-16 19:37] #159 closed

[2016-04-16 19:37] octalmage commented on #168
I'm going to close this, please let me know if you're still having issues.

[2016-04-16 19:37] #168 closed

[2016-04-16 19:39] octalmage commented on #166
@Paic I just updated the colorAt code, could you let me know if this helps! I believe it should resolve this issue.

There was a bug with grabbing the parameters, and the x was being grabbed as the y. So sorry for all of the troubles!

[2016-04-17 15:58] #148 closed

[2016-04-17 16:28] octalmage commented on #178
This shouldn't be an issue at all! I'll look into it.

[2016-04-17 17:02] Paic commented on #166
I've only tested it on my main computer atm but it works great !
Thanks for the good work !

[2016-04-17 17:05] octalmage commented on #166
Awesome! Sorry it took so long to get this resolved. Let me know if you need anything else!

[2016-04-17 17:05] #166 closed

[2016-04-17 19:00] octalmage opened #179 "Fix moveMouse for games."
In #177 I implemented a fix for moving the mouse in a game, but it's not perfect. Unfortunately we'll need to create a new function or parameter for a special mouse move just for games. We need to **only** set the deltas, and not the new mouse position.  This only applies to Mac.

[2016-04-19 17:54] camilleeyries commented on #179
+1

[2016-04-19 23:32] dbkynd opened #182 "Numpad 0-9"
I didn't see mention in the documentation or issues, and was unable to find anything with a quick glance at the source. Are the numpad keys supported in 'keyToggle'?

[2016-04-19 23:33] SiriusDG commented on #13
Is the image save implemented yet?  I tried to follow the demo from comments, desktop.save did not yet work.  Any simple way to save captured images?  This is about all I really need to make great use of this, thanks!

[2016-04-19 23:46] octalmage commented on #13
The first part is implemented, screen capturing, but not saving yet. We just released the capture code in 0.4.0 this weekend, so it will be a bit longer before the saving code is out.

[2016-04-19 23:52] octalmage commented on #179
Haha thanks @Camilleeyries!

[2016-04-20 12:51] camilleeyries commented on #179
Hater of the year

[2016-04-20 14:52] octalmage commented on #179
![](http://media4.giphy.com/media/G754O1WLSL4c0/giphy.gif)

[2016-04-20 14:57] octalmage commented on #179
For real though, I think I'm just going to add a new option to moveMouse for games. Something like:

[code]

This is unfortunate because the app controlling the mouse might not always know what application they're controlling, like [ScreenCat](https://github.com/maxogden/screencat). I've looked into how other applications do it, and it seems to be a common problem.

[2016-04-20 15:08] Deltatiger commented on #179
Is this limited to Mac ? I have not tested this on Windows but neither have I seen anyone with an issue on Windows.

[2016-04-21 00:59] demipixel commented on #179
@octalmage What's wrong with moving a delta in other applications?

[2016-04-21 01:07] octalmage commented on #179
@Deltatiger the issue is limited to Mac.

@demipixel The issue isn't with moving the delta in other applications, it's about moving the absolute in games. It causes a double mouse move when you move your real mouse.

[2016-04-21 07:16] Deltatiger opened #183 "Fix compile time warnings."
Current we are getting loads of compile time warnings for windows. Mainly these are type conversions from size_t to int or to double. I think it will be better if we fix those stuff. Looks a whole lot better with a clean compile.

[2016-04-21 14:37] octalmage commented on #183
@Deltatiger agreed! Those warnings always bothered me, but I was only able to clean them up for Mac. I'll take a look at the Linux warnings like [this](https://travis-ci.org/octalmage/robotjs/jobs/123772820#L297), or [this](https://travis-ci.org/octalmage/robotjs/jobs/123772820#L297).

[2016-04-29 19:09] chaosprinz opened #184 "add the insert-Key for keyTap/Toggle"
Hi, i would need the insert key.
Im not too deep in all the c-stuff so im sorry if my question is a little dump.
But as far as i understand, i would need to expand the key_names[]-array in robotjs.cc by some entry like:
[code]
If so, i would do it and create a pull-request. If not, i would be really gratefull, if you would point out what to do, so that i could create the insert-key and others in t

[2016-04-29 20:51] chaosprinz commented on #184
Ok, found it by myself. Gotmit working under Windows at least.Cant test it under Linux or Mac. I'll send ya a pull-request, so you can have an eye on it.

[2016-04-29 22:25] chaosprinz commented on #178
Experimentet with a local clone, where i got F13 working for Windows. Will bring in F13-F24 for all 3 Systems, commit it and send a pull-request tomorrow. Its bedtime now ^^

[2016-04-30 15:04] octalmage commented on #179
I just created a new branch that only sets the deltas, you can test it here:

https://github.com/octalmage/robotjs/tree/move-mouse-game

@nroadley could you try this code? I just modified the moveMouse code. It won't work for non-games.

I only tested this in Minecraft and a few online games, but from what I can tell based on other applications it seems right.

[2016-05-01 19:22] #184 closed

[2016-05-02 09:16] vshymanskyy commented on #64
+1, really need this. I would like to include it into one of Blynk App turorials!

[2016-05-02 17:26] octalmage commented on #64
I'll look into it soon! When I looked into it previously I decided to wait until RobotJS was more stable. It's going to take a bunch of work, but it might be worth it at this point.

[2016-05-02 17:48] vweevers commented on #64
@octalmage have you considered [prebuild](https://github.com/mafintosh/prebuild) instead of `pre-gyp`? I recommend it, if you're cool with hosting binaries on Github. Setup is almost effortless.

[2016-05-02 18:05] octalmage commented on #64
@vweevers I've never heard of it! It looks pretty easy to setup, just wonder how support and adoption is. node-pre-gyp is supported by Mapbox, and used by many huge projects. I'm not sure about prebuild. I'll look into it though!

[2016-05-07 13:16] dothebart opened #186 "Handle errors if no X11 display is available"
in screen.c:

[code]

no error handling is done; It seems node crashes due to display being NULL if you don't have access to an x11 desplay (no cookie as root)

It probably should throw a js exception in that case.

[2016-05-08 20:34] octalmage commented on #186
I've been slowly adding better error handling as I go, I'll fix this and try to get #34 updated.

[2016-05-08 20:36] octalmage commented on #64
Prebuilt looks really legit, and [levelDOWN](https://github.com/Level/leveldown) uses it. That's good enough for me. I'll work on this today.

Thanks @vweevers!

[2016-05-08 22:43] octalmage commented on #64
I've got most of the builds up, and RobotJS v0.4.2 is using Prebuild! Windows 64bit is missing and I'm working on those builds now.

[2016-05-08 23:42] octalmage commented on #64
Windows 64bit is up, the majority of users won't have to compile!

[2016-05-10 02:36] octalmage opened #188 "Fix screen capture on Mac."
There something wrong with screen.capture on Mac for larger screens, the image comes out distorted. I'm looking into it now.

[2016-05-13 09:23] SamuraiJack opened #189 "[Question] Distributing"
Hello,

If I've installed RobotJS on my machine (ubuntu 14) and then will just zip the whole folder with my project (including "node_modules") - would that mean that it will work on other ubuntu machines?
Same question about Windows machine.

Is it possible to create a "static" build of RobotJS, which will not require any dependencies to work on selected platform?

I'd like to distribute RobotJS a

[2016-05-13 22:36] octalmage commented on #189
Hi @SamuraiJack!

Correct, distributing RobotJS by including the node_modules directory will work for the platform it was compiled on. Windows, Mac, or Linux. The user won't have to have dev tools installed. Now if you're not distributing Node (using Electron or NW.js), they'll most likely have to compile RobotJS on their own because of different Node versions and architectures (32/64bit). That sa

[2016-05-14 07:58] SamuraiJack commented on #189
Cool! I guess I'll just give it a try. Thank you for the help and this excellent project!

[2016-05-14 07:58] #189 closed

[2016-05-14 08:02] Zyphdoz opened #190 "Using robotjs in electron app"
Hello,

I would like to use RobotJS in an Electron app. My program works well with Node but when I run it in Electron I get the following error: A dynamic link library (DLL) initialization routine failed. \node_modules\robotjs\build\Release\robotjs.node

I believe this is the source of the problem https://github.com/electron/electron/blob/v0.37.2/docs/tutorial/using-native-node-modules.md#using-na

[2016-05-14 14:17] octalmage commented on #190
Hi there,

Have you tried running electron-rebuild? I use RobotJS with Electron on Mac and that allows my app to run.

[2016-05-14 14:18] octalmage commented on #189
No problem! Let me know if you need anything else.

[2016-05-14 15:11] Zyphdoz commented on #190
I have tried electron-rebuild but I'm not sure if I'm doing it right. I'm on windows and when I run
.\node_modules\.bin\electron-rebuild.cmd
I get the following message:
Error: ENOENT: no such file or directory, stat ' \node_modules\electron-rebuild\lib\headers\.node-gyp\1.0.1\common.gypi'
    at Error (native)
I found that the path is actually \iojs-1.0.1\ instead of \1.0.1\, so I tried changing

[2016-05-14 15:18] octalmage commented on #190
Hmm, I would try updating your Node version. io.js is obsolete and it's possible that electron-rebuild doesn't support it.

[2016-05-15 09:20] Zyphdoz commented on #190
My node version is up to date. I just found this though. https://github.com/electron/electron-rebuild/issues/66
Looks like it's a problem with electron rebuild, no wonder I wasn't able to get it working. Hopefully it will work again soon.

[2016-05-15 11:32] octalmage commented on #190
Well that explains it! I was really confused by the iojs in the URL. Let me know if you need anything else from my end!

[2016-05-15 19:48] Industrial opened #192 "Is this feasible with robotjs?"
Hi!

I've always been using AutoHotKey on windows for macros for games, and I'd like to do the same kind of thing on linux.

What I'd like to do is;

When a button gets pressed (e.g. Q), send a sequence of keys every x msec.
When the button gets pressed again, stop sending.

The logic for this is quite simple; just a toggle. I'm not sure on the keypress part :-)

[2016-05-16 16:32] octalmage commented on #192
Hi @Industrial, this is possible with a combination of RobotJS and Electron or NW.js. With RobotJS you can send the key sequence, Electron/NW.js have global hotkey support. Look at the RobotJS wiki for the keyTap syntax.

Let me know if you have any questions!

[2016-05-17 04:06] Const4ntFlux commented on #182
I'm interested to know this as well.

[2016-05-17 08:05] Zyphdoz commented on #190
Have you tried running electron-rebuild on windows?
They have fixed the iojs error now, but after I rebuild I am still getting the error (DLL) initialization routine failed. \node_modules\robotjs\build\Release\robotjs.node
If I delete robotjs.node and run rebuild, the robotjs.node file comes back so rebuild is apparently doing something, but the last modified date of the file is always 09.05.2016

[2016-05-17 14:20] dasilvacontin opened #193 "Importing two libraries that depend on robotjs"
Hi!

I'm getting the following when I import both `electron` and `ludumpad-mapper` – both depend on `robotjs`. Any clue on how to solve it? Thanks!

<img width="532" alt="screenshot 2016-05-17 16 18 16" src="https://cloud.githubusercontent.com/assets/1260830/15325580/2db65e14-1c4b-11e6-9468-f5e503f2297f.png">

[2016-05-17 14:22] dasilvacontin commented on #193
Worth noting that I'm using Node v5.10.1.

[2016-05-17 14:42] dasilvacontin commented on #193
Fixed by installing and using Node v6. Any clue on why? They worked separately. At least `ludumpad-mapper`. Maybe `electron` is somehow and for some reason require usage of Node v6, or `electron-prebuilt` is built with Node v6...

[2016-05-17 19:09] octalmage commented on #190
Not recently, I personally use Mac and electron-rebuild works there. Could you try one of the other methods they list? It seems like on Windows electron-rebuild is downloading one of the prebuilt RobotJS binaries, which won't work for electron. You could also try RobotJS v0.4.1, which was before the prebuilt binaries existed.

I'll try to look into this tonight in a VM.

[2016-05-18 13:30] octalmage commented on #193
Hmm that's odd. Which version of RobotJS? RobotJS is compatible with all recent versions of Node, and only ludumpad-mapper requires RobotJS.

[2016-05-18 13:39] dasilvacontin commented on #193
I see, sorry for the wrong assumption. I guess electron-prebuilt comes with Node v6 and ludumpad-mapper's RobotJS had been built using my machine's Node, which was v5. And that's why it was throwing the mismatch error.

[2016-05-18 13:44] octalmage commented on #193
That sounds reasonable! electron-rebuild could have also resolved it. Let me know if you need anything else!

[2016-05-18 13:44] #193 closed

[2016-05-18 14:01] dasilvacontin commented on #193
I actually tried using `electron-rebuild`, but it didn't work. Maybe I did something wrong – might try again for the sake of curiosity.

[2016-05-18 19:01] dasilvacontin opened #195 "Support for virtual game controllers"
Would you like to have this feature in this library, or would you rather have some other library that offers cross-platform support for virtual game controllers in Node.js?

[2016-05-18 19:09] octalmage commented on #195
What is the feature? I've seen a number of virtual game controllers created using RobotJS.

[2016-05-18 19:10] #192 closed

[2016-05-18 19:39] dasilvacontin commented on #195
@octalmage Virtual game controller as in the OS thinks an actual game controller is connected. Similar to what is done in https://github.com/miroof/node-virtual-gamepads. But cross-platform.

If such thing has been done, any links?

[2016-05-18 19:46] octalmage commented on #195
Gotcha, I thought you meant controlling a game using a virtual controller, not emulating an actual hardware controller. I think this library is better for the former, the latter maybe not. Is this for games that cannot be controlled with a mouse/keyboard?

[2016-05-18 19:53] dasilvacontin commented on #195
Yes, for games that are already set up to be played with controllers, or that only support multiple players via multiple controllers. Specially the latter.

I see you've checked [LudumPad](https://github.com/dasilvacontin/ludumpad). This feature would be useful to fake multiple hardware controllers using multiple mobile devices running LudumPad.

It's not a blocker for me, more like a nice have th

[2016-05-18 19:56] octalmage commented on #195
Hmm that's interesting. I guess it depends on how difficult it is to implement for Windows and Mac. It seems like it may require special drivers which I wouldn't nessesarily be interested in maintaining. Have you looked into it at all?

[2016-05-18 20:19] dasilvacontin commented on #195
Yes, I've looked a bit into it. I was just wondering if you had also thought about having this feature, or were 'open' to host it at RobotJS.

But I guess most RobotJS users will not care about this feature, and its uses cases are not many (so I imagine it will have few actual users), so maybe it would be a better idea to have it as a separate library.

[2016-05-19 07:25] Industrial commented on #192
Cool, thanks!

[2016-05-21 15:30] octalmage commented on #170
Hi @g0rd,

Were you able to figure this out? Which OS are you on? I haven't been able to replicate any issues with typing.

[2016-05-22 14:56] octalmage commented on #154
I started work on this today! So far it's an Electron app that you run using child_process.spawn and it reports events using stdout. Seems to work well. When it first opens it sends a ready event with the absolute location of all of the elements (buttons, inputs) on the screen so the test can easily find the input it needs. I'm going to create a library you we'll include in RobotJS to make using i

[2016-05-23 01:24] knubie commented on #179
Would it make sense to expose a `moveMouseByDelta` function? I'm writing an application that maps the Wii U gamepad's gyroscope to mouse movements on my mac for use in FPS-type games, and right now I'm doing something like:

[code]

So why not just expose a separate `moveMouseByDelta` function to save code, and resources by preventing the getMousePos from calling twice?

[2016-05-23 01:57] octalmage commented on #179
I thought about that, or at least allowing users to move the mouse by only setting the deltas using an option. The problem is the platform inconsistency. On Mac I can specify the delta, but on Windows I'd have to get the current mouse position then calculate the delta. Mac is also the only OS that needs a special mouse function for games.

What I really want is a mouse function that works in all s

[2016-05-23 01:58] octalmage commented on #179
Also, the app you're making sounds awesome. Are you running into issues with moving the mouse in games?

[2016-05-23 02:04] octalmage commented on #182
I'm very sorry for the delay, I'll look into this now!

[2016-05-23 02:15] knubie commented on #179
@octalmage Thanks, I'll keep an eye on the repo, let me know if you need me to test anything.

As for issues in-game, it's hard to say. There exists some stuttering inside *and* outside games, but I believe that has less to do with robot.js and more to do with the way I'm sending data to the app. And aside from that, the movement is not quite as smooth as moving the mouse on the trackpad (maybe I

[2016-05-23 02:52] octalmage commented on #154
Here it is:

https://github.com/octalmage/targetpractice

I'm very excited to use this to help test RobotJS.

[2016-05-23 03:37] octalmage commented on #182
Alright, I've added some code to a new branch called numpad. Could you let me know if this works for you?

https://github.com/octalmage/robotjs/tree/numpad

[2016-05-23 14:34] octalmage opened #196 "Add right shift/control keycodes."
Each OS has a separate keycode for right shift/control, so it will be easy to implement.

[2016-05-23 23:33] Const4ntFlux commented on #182
Looking forward to testing @dbkynd s commit with this and #196 change!

[2016-05-23 23:37] knubie opened #197 "keyToggle/mouseToggle for an unspecified amount of time?"
Is it possible for robot.js to `keyToggle` or `mouseToggle` 'down' indefinitely until the `keyToggle` or `mouseToggle` up is called? At the moment it seems to automatically toggle 'up' after the specified amount of time in `setKeyboardDelay` and `setMouseDelay`.

My particular use case is that I have a function that gets called every ~10ms which receives gamepad input and maps them to keyboard/mou

[2016-05-24 00:02] octalmage commented on #197
Hmm which OS are you using? Toggling a key or mouse button should hold it down until you up it or the real key is pressed. I confirmed this works as expected on Mac using the on screen keyboard.

[2016-05-24 00:14] octalmage commented on #197
I also just tested the same using mouseToggle:

[code]

Here's the result:

![](https://cloudup.com/cs4rg1WW44G+)

[2016-05-24 00:22] knubie commented on #197
Ok, I just tested this again and you're right, it does to hold down for both. I think I was thrown off because I wasn't able to select text with the mouse, and with the keyboard the key repeat wasn't activating (i.e. holding down 'w' didn't produce wwwwwww etc.). Are these just limitations of the way the keypresses are being produced?

[2016-05-24 00:34] octalmage commented on #197
Exactly! You can use dragMouse to hold the mouse and down move it, it's a weird Mac OS limitation. Same with holding buttons down, it doesn't type the key multiple times.

[2016-05-24 00:39] knubie commented on #197
Got it! Thanks 👍

[2016-05-24 00:39] #197 closed

[2016-05-25 01:58] octalmage opened #198 "Continuous Integration for Mac."
Currently our automated tests run on Linux and Windows, we need these to run on Mac too.

[2016-05-25 02:11] knubie commented on #195
A library [vJoy](http://vjoystick.sourceforge.net/site/) or [vXboxInterface](https://github.com/shauleiz/vXboxInterface) might work for this one Windows. Unfortunately I haven't found anything for OSX yet.

[2016-05-25 02:40] octalmage commented on #64
I reopened this, prebuild doesn't natively support Electron and that's an issue for me. I also want the builds to be built and published automatically, so node-pre-gyp is still something we're going to need. Prebuild works good enough for now though.

[2016-05-25 03:34] #198 closed

[2016-05-25 16:36] daniel-lucio opened #201 "Building a Makefile"
Hi,

I am making a Makefile for linux. Almost everything is working, but I am stuck here:

robotjs.cc:2:17: erreur fatale : nan.h : Aucun fichier ou dossier de ce type

What package/library provides nan.h ?

[2016-05-25 17:03] octalmage commented on #201
https://github.com/nodejs/nan

Curious, why are you making a makefile? Gyp generates one automatically.

[2016-05-25 17:19] daniel-lucio commented on #201
Can you share it? My gyp is not withing here
Le 25 mai 2016 1:12 PM, Jason Stallings <notifications@github.com> a écrit :https://github.com/nodejs/nan

Curious, why are you making a makefile? Gyp generates one automatically.

—You are receiving this because you authored the thread.Reply to this email directly or view it on GitHub

[2016-05-26 01:20] escapedcanadian opened #202 "keyTap only works in debug mode"
I'm using node v5.11.1, socket.io 1.4.6 and robotjs 0.4.2.  My code is very simple ...

[code]
However, the pausePlayer() function is called by a handler on socket.io.

`	socket.on('pause player', function(data){
		pausePlayer();
	});`

 If I run the program in a debugger, with a breakpoint on the keyTap() line, it works fine and has the expected results.  But if I run it real-time, it doesn't see

[2016-05-26 04:11] escapedcanadian commented on #202
With more investigation, this may have something to do with Google Chrome consuming all Global Hotkeys while it has the focus.  Jumping to the debugger took focus away from Chrome.  I had tried many combinations of keys with modifiers, so I had assumed I would have hit an unused combination sometime, but it seems Chrome consumes them all.

[2016-05-26 04:11] #202 closed

[2016-05-26 04:25] octalmage commented on #202
Interesting, I'm glad you figured it out! Let me know if you need anything.

[2016-05-27 18:26] dbkynd commented on #182
Thanks! I've been busy as of late, but I'll try and test this weekend! Much appreciated.

[2016-05-28 03:38] octalmage commented on #201
Here you go:

https://cloudup.com/chb3oFoXWWf.zip

That is what was generated, but it's probably Mac specific. I don't think it's going to be much help.

Are you having issues with node-gyp?

[2016-05-29 02:52] #182 closed

[2016-05-29 02:59] octalmage commented on #115
This was resolved by #181. Thanks again @Deltatiger!

[2016-05-29 02:59] #115 closed

[2016-05-29 03:02] octalmage commented on #98
I'm going to close this in favor of #154.

[2016-05-29 03:02] #98 closed

[2016-05-29 03:04] octalmage commented on #170
I'm going to close this, please let me know if you still need help!

[2016-05-30 03:34] daniel-lucio commented on #201
yes node-gyp is not running here, and I am packaging as an RPM. So the node packaging engine won't apply here.

[2016-05-30 03:44] octalmage commented on #201
Gotcha, try running `node-gyp configure` on Linux, then checking the build directory for the makefile.

[2016-05-30 18:56] MaxLyons commented on #178
Does this work now?

[2016-05-30 20:34] octalmage commented on #112
I'm going to close this, feel free to reopen it if this is still an issue!

[2016-05-30 20:34] #112 closed

[2016-05-30 20:47] octalmage opened #203 "Create CONTRIBUTING.md, ISSUE_TEMPLATE.md, and PULL_REQUEST_TEMPLATE.md."
- [x] [Contributing guidelines](https://github.com/blog/1184-contributing-guidelines)
- [x] [Issue template](https://github.com/blog/2111-issue-and-pull-request-templates)
- [ ] [Pull request template](https://github.com/blog/2111-issue-and-pull-request-templates)

All of these will help us work more efficiently.

[2016-05-30 20:53] octalmage commented on #134
So we dropped official XP support, and Node 0.8. We still need a section in the readme.

- [ ] Add supported platforms to the readme.

[2016-05-31 12:01] lawnzapper opened #204 "Npm ignore test files"
I'm working on an electron app and noticed that my packaged app size could be smaller if you could add .npmignore to the repository to remove test files as test.raw (20mb). Obviously I'm removing myself manually before packaging. Anyway thank you for RobotJs, it's great!

[2016-05-31 13:08] g0rd commented on #170
Hi @octalmage, I am sorry I couldn't get back to you earlier. We have abandoned using robotjs because it's still typing outside of the in-focus textbox. I have tried this both on Wiindows 8.1 and 7

[2016-05-31 13:40] octalmage commented on #204
Oops! Thanks for letting me know, I'll get it fixed.

[2016-06-01 00:38] #196 closed

[2016-06-01 00:42] octalmage commented on #178
This hasn't been implemented yet.

[2016-06-01 00:47] octalmage commented on #204
Fixed in RobotJS v0.4.4 which has been published to npm! Thanks again!

[2016-06-01 00:47] #204 closed

[2016-06-01 01:01] octalmage commented on #196
Added support in v0.4.4 which has been published to npm!

[2016-06-01 05:08] octalmage commented on #170
No worries! I'm sorry we weren't able to get this figured out. I'm still interested in resolving this if you are. Could you provide the steps to replicate? I spent a bit typing and clicking in Chrome on Windows but I wasn't able to break it.

[2016-06-01 18:46] g0rd commented on #170
I will write down the detailed steps by the end of the day

[2016-06-03 09:04] alexmirea opened #207 "moveMouseSmooth visibly slower on Windows 10 than on Mac"
Hello,

I am using RobotJS and when using moveMouseSmooth it performs a lot slower on Windows 10 Enterprise 64bit than it does on Mac El Capitan 10.11.

The test I did was
[code]

On Windows I always get results like `Move mouse: 4680ms`
On Mac I always get results like `770ms`
Does anyone have an insight into this?
I just ran it multiple times and sometimes I get ~2000ms than back to ~4000 ms
One

[2016-06-03 09:52] alexmirea opened #208 "Shift dragging"
I am working on a test that requires holding SHIFT down and dragging with the Mouse.
What is the correct way of doing that with RobotJS?
I saw that keyToggle doesn't allow modifiers.
I did something like `Robot.keyToggle(String.fromCharCode(16), 'down', 'shift')` and then  `Robot.keyToggle(String.fromCharCode(16), 'up'`
and it seems to work on Mac. (16 being the event keyCode for `shift`)
 On Wind

[2016-06-03 11:04] pannous opened #209 "UTF-8 on mac"
bug/how?

1

[2016-06-03 17:41] Vavaballz opened #210 "Not working when a game window is focused"
Hello everyone,
First, i'm sorry if there is any mistake.
Second, i'm also sorry if this was already asked but i didn't find it.
Actually, i don't really know if the issue is due to RobotJS, NodeJS or Windows but when i try to do for example 2 mouseClick() on a game window when it is focused, only the first click works.

Thank you for the help.

[2016-06-03 18:27] g0rd commented on #170
[code]

[2016-06-03 18:39] octalmage commented on #207
Hi there! I'll respond to both of your issues later today. Sorry for the delay.

[2016-06-04 03:32] octalmage commented on #208
Hi @alexmirea,

Holding a key down with keyToggle should work. For dragging the mouse you'll need to use dragMouse. It accepts the same arguments as moveMouse. Could you try this?

[2016-06-04 03:35] octalmage commented on #210
Hi @Vavaballz, which version of RobotJS are you using? And which game?

[2016-06-04 03:41] octalmage commented on #207
moveMouseSmooth has a bit of randomness built in, It's meant to simulate a human. Macs tend to have a much higher resolution which would mean the mouse has further to move.

I plan on creating a new function that allows you to specify the delay between the moves, #174 tracks this request.

Could this explain what you're seeing?

[2016-06-04 10:39] Vavaballz commented on #210
The last one, 0.4.4.
I tried with CS:GO and with Warframe.

[2016-06-04 20:05] octalmage commented on #170
Is it this kind of upload dialog?

![](https://cldup.com/GgZ37kVkmt.gif)

[2016-06-04 20:09] octalmage commented on #209
This is a known bug, it's just something I haven't been able to figure out yet. You can track progress here: #16.

[2016-06-04 20:09] #209 closed

[2016-06-04 20:24] octalmage commented on #208
I just played with this, and the second you move the mouse the shift key is lifted. It looks like this is a known issue:

http://stackoverflow.com/questions/17773225/cgeventpost-hold-a-key-shift

I'll see what I can find.

[2016-06-05 00:18] octalmage commented on #208
Looks like there's a possible solution here:

http://stackoverflow.com/questions/2008126/cgeventpost-possible-bug-when-simulating-keyboard-events/8202467#8202467

Mac has been the most quirky OS for RobotJS. Apparently I need to tell the mouse move that shift is being held down.

[2016-06-05 00:21] octalmage opened #211 "Get rid of dragMouse."
Instead of making developers tell RobotJS when they want to drag the mouse, just track when the mouse button is toggled down.

[2016-06-05 00:22] octalmage commented on #195
I'm going to close this for now, I'd be interested in solving this problem, but most likely in another module. Thanks for the suggestion!

[2016-06-05 00:22] #195 closed

[2016-06-05 00:23] octalmage opened #212 "Add list of all available keys to the wiki."
What the title says.

[2016-06-05 00:46] octalmage commented on #212
DONE!

https://github.com/octalmage/robotjs/wiki/Syntax#keys

[2016-06-05 00:46] #212 closed

[2016-06-05 10:06] dasilvacontin commented on #195
No worries! Let me know if you start working on this problem, I'll be happy to help.

[2016-06-05 15:03] eschmid72 commented on #190
I'm trying to use robotjs with electron-rebuild, too, actually I'm getting this error:

[code]

I don't see which module is expected to have version 48...

[2016-06-05 15:12] octalmage commented on #190
Hi there, could you try either the npm or the node-gyp way listed on that page? The module mismatch error means the version of Node used to build RobotJS doesn't match the version in Electron.

[2016-06-05 15:13] octalmage commented on #190
Sorry here's the link:

https://github.com/electron/electron/blob/v0.37.2/docs/tutorial/using-native-node-modules.md#the-npm-way

Either one of those should work!

[2016-06-05 15:35] octalmage commented on #190
It looks like this command will also work:

[code]

Change target to your Electron version. You can use this in your package.json to rebuild RobotJS automatically:

https://github.com/codeforscience/sciencefair/blob/master/package.json#L9